/*----------------- Main colors*/

$alert-red: #f00;
$white: #fff;
$black: #000;
$brand-blue: #29bbff;
$brand-blue2: #2dabf9;
$question-dark-blue: #0688fa;
$text-shadows-purple: #263666;
$message-pale-green: #8adade;
$remove-red: #ff3434;
$add-green: #00f500;
$highlight-pale-blue: #b8e3f9;

$fire-red: #ff0000;
$flame-orange: #f99806;
$flame-yellow: #ffff00;

$pop-up-box-yellow: #f2ff00;
$transparent-yellow: rgba(255,247,0,.8);
$transparent-red: rgba(255,82,82,.92);
$transparent-white: rgba(255,255,255,.8);

$seashell: #fff5ee;
$beige: #f7f1dc;
$veggie-green: #288c33;
$grey-para-text: #bbb;