/*----------------- Main colors*/

$alert-red: #f00;
$white: #fff;
$black: #000;
$brand-blue: #29bbff;
$brand-blue2: #2dabf9;
$brand-darker-blue: #0688fa;
$text-shadows-purple: #263666;
$message-pale-green: #8adade;
$remove-red: #ff3434;
$add-green: #00f500;
$highlight-pale-blue: #b8e3f9;

$fire-red: #ff0000;
$flame-orange: #f99806;
$flame-yellow: #ffff00;