%box-shadow-large {
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

%number-shadow {
    -webkit-box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

%bottom-box-shadow {
     -webkit-box-shadow: 0px 10px 7px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 7px -8px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 7px -8px rgba(0,0,0,0.75);
}

%cover-background {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

%set-background {
    background-repeat: no-repeat;
    background-position: top;
    background-size: auto;
}

%contain-background {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}