/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

header {
  -webkit-box-shadow: 0px 10px 7px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 10px 7px -8px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 10px 7px -8px rgba(0, 0, 0, 0.75); }

.recipe, .ingredient, .recipe-details-1,
.recipe-details-2,
.recipe-details-3 {
  -webkit-box-shadow: 3px 6px 17px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 6px 17px -5px rgba(0, 0, 0, 0.75);
  box-shadow: 3px 6px 17px -5px rgba(0, 0, 0, 0.75); }

.leaderboard-intro-bg,
.sign-up-bg,
.log-in-bg,
.recipes-bg,
.ingredients-bg,
.profile-img,
.edit-add-ingredient-bg,
.add-recipe-bg {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.welcome-message, .left,
.right, .fire-text-quote, .leaderboard-intro-section, .sign-up-section,
.log-in-section, a ~ .recipe-row-bottom, .inner-delete-recipe-row .row, .add-edit-ingredient-section, .add-a-recipe-section, .view-recipe-section .container:nth-of-type(1),
.edit-recipe-section .container:nth-of-type(1), .recipe-details-container .row, .profile-section, .header-container, .img-container {
  display: flex;
  justify-content: center;
  align-items: center; }

/*----------------- Main colors*/
/* --- Widths */
.hide-me-btn {
  display: block; }

button,
.div-btn {
  font-family: 'Oswald', sans-serif;
  width: 150px;
  margin: 10px;
  cursor: pointer;
  display: inline-block;
  background-color: #000;
  font-size: 15px;
  color: #fff;
  padding: 9px 23px;
  text-decoration: none;
  box-sizing: border-box;
  text-align: center;
  line-height: 22px;
  letter-spacing: 1px;
  border: solid 1px #fff;
  text-transform: uppercase; }

button:hover,
.div-btn:hover {
  background-color: #ff0000;
  border: solid 1px #ff0000; }

button:active,
.div-btn:active {
  transform: scale(0.95, 0.95); }

.submit-new-ingredient-btn {
  width: 20%; }

.update-ingredient-btn,
.update-recipe-btn,
.confirm-delete-recipe-btn,
.delete-recipe-btn {
  float: left; }

.add-recipe-btn {
  margin: 20px 0; }

.grow {
  transition-property: transform;
  transition-duration: 1s;
  transition-timing-function: linear; }

.grow:hover {
  transform: scale(1.1); }

.grow-pic {
  transition-property: transform;
  transition-duration: .5s;
  transition-timing-function: cubic-bezier;
  transform: scale(1.1); }

.fade-in-text {
  opacity: 1;
  transition-property: opacity;
  transition-duration: 2s;
  transition-timing-function: linear; }

.shake {
  -webkit-animation-name: shake;
  -ms-animation-name: shake;
  -ms-animation-duration: 2000ms;
  -webkit-animation-duration: 2000ms;
  -webkit-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -ms-animation-timing-function: ease-in-out; }

@keyframes shake {
  0% {
    transform: rotate(0.5deg); }
  10% {
    transform: rotate(-0.5deg); }
  20% {
    transform: rotate(0.5deg); }
  30% {
    transform: rotate(-0.5deg); }
  40% {
    transform: rotate(0.5deg); }
  50% {
    transform: rotate(0deg); } }
.flame {
  animation-name: flame;
  animation-duration: 2s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards; }

@keyframes flame {
  0% {
    text-shadow: 25px 16px 56px #f99806; }
  50% {
    text-shadow: 8px -5px 32px #ffff00; }
  100% {
    text-shadow: 0px -5px 32px #f99806; } }
.hidden-to-visible {
  transition-property: transform;
  transition-duration: 1s;
  transition-timing-function: linear;
  animation-name: hidden-to-visible;
  animation-duration: 5s;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards; }

@keyframes hidden-to-visible {
  0% {
    transform: scale(0); }
  100% {
    transform: scale(1); } }
.pre-slide-in-from-left,
.pre-slide-in-from-right,
.slide-in-from-left,
.slide-in-from-right {
  position: relative;
  transition-duration: 1s;
  transition-delay: 0s;
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94); }

.pre-slide-in-from-left {
  left: -200vw;
  transition-property: left; }

.pre-slide-in-from-right {
  right: -200vw;
  transition-property: right; }

.slide-in-from-left {
  left: 0; }

.slide-in-from-right {
  right: 0; }

header {
  width: 100%;
  color: #fff;
  background-color: #000;
  height: 65px;
  position: fixed;
  top: 0px;
  background-size: contain;
  z-index: 10000; }

nav,
nav ul {
  font-family: 'Oswald', sans-serif;
  margin: 5px;
  padding: 3px; }

nav {
  margin: 0 auto;
  max-width: 1122px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around; }

nav ul,
nav ul li {
  float: right; }

nav ul li {
  display: block;
  margin: 5px 30px;
  background-color: #000;
  padding: 5px; }

.logo {
  float: left;
  margin: 10px;
  padding: 8px 30px 8px 8px;
  height: 56px; }

.nav-icon {
  padding: 0 12px 0 0; }

.round-pop-up-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  -webkit-box-shadow: 7px 10px 32px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 7px 10px 32px -5px rgba(0, 0, 0, 0.75);
  box-shadow: 7px 10px 32px -5px rgba(0, 0, 0, 0.75);
  background-color: #f2ff00;
  z-index: 100; }

.flashed-message {
  width: 70%;
  padding: 86px 20px 20px; }

.pop-up-btn {
  margin: 20px auto; }

.welcome-message-section {
  min-width: 1240px;
  background-color: #000; }

.welcome-message-section .welcome-message,
.welcome-message-section img {
  float: left;
  box-sizing: border-box;
  height: 100vh;
  min-width: 600px; }

.welcome-message-section img {
  width: 54%; }

.welcome-message {
  width: 46%; }

.welcome-message-content {
  width: 58%; }

.welcome-message-content h1 {
  font-size: 62px;
  margin: 30px 0;
  color: #fff;
  /* Fallback: assume this color ON TOP of image */
  background: url(../images/fire.jpg) no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 5px; }

.welcome-message-content h1,
.welcome-message-content h3 {
  color: #fff; }

.welcome-message-content h3 {
  font-size: 24px; }

.welcome-message-content h3 ~ p:nth-of-type(1) {
  margin: 74px 0 30px; }

.welcome-message-content p {
  color: #fff;
  font-size: 15px;
  line-height: 28px;
  font-family: 'Oswald', sans-serif; }

.welcome-message-content button {
  margin-left: 0;
  margin-top: 76px; }

.welcome-sentence {
  padding: 100px 0; }

.welcome-sentence p {
  padding: 0;
  font-size: 18px;
  line-height: 2.4; }

.welcome-sentence span {
  color: #ff0000;
  font-weight: 600; }

.welcome-sentence,
.ingredients-intro-section {
  background-color: #fff; }

.recipes-intro-content h2,
.ingredients-intro-content h2 {
  margin: 0 0 40px; }

.recipes-intro-content p,
.ingredients-intro-section p {
  max-width: 640px;
  font-size: 18px;
  color: #bbb;
  line-height: 2.4;
  letter-spacing: 0; }

.recipes-intro-content img {
  width: 100%;
  margin: 0;
  padding: 0;
  display: block;
  float: left; }

.recipes-intro-content .pic-overlay {
  position: absolute;
  width: 50%;
  background-color: rgba(30, 30, 0, 0.15); }

.recipes-intro-content .pic-overlay,
.recipes-intro-content img,
.recipes-intro-section .right {
  height: 750px; }

.recipes-intro-content .right a,
.ingredients-intro-content p ~ a {
  font-weight: 600;
  color: #ff0000; }

.ingredients-intro-content a {
  display: block;
  margin-top: 42px; }

.left,
.right {
  float: left; }

.recipes-intro-section .left {
  width: 50%; }

.recipes-intro-section .right {
  background-color: #000;
  color: #fff;
  width: 50%; }

.ingredients-intro-section {
  padding: 100px 0;
  width: 100%; }

.ingredients-intro-section .container {
  max-width: 1122px;
  margin: 0 auto; }

.ingredients-intro-section img {
  height: 400px;
  width: 250px;
  margin: 0 20px; }

.ingredients-intro-section .left {
  justify-content: left; }

.ingredients-intro-section .left,
.ingredients-intro-section .right {
  width: 50%; }

.ingredients-intro-content {
  width: 80%; }

.ingredients-intro-content p {
  color: #060606; }

.fire-text-quote {
  background-color: #000;
  width: 100%;
  height: 600px; }

.fire-text-quote div {
  max-width: 60%;
  margin: 0 auto; }

.quote {
  margin-bottom: 40px; }

.fire-text-quote p {
  color: #fff;
  /* Fallback: assume this color ON TOP of image */
  background: url(../images/fire.jpg) no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 46px;
  line-height: 60px; }

.fire-text-quote p:nth-of-type(2) {
  color: #fff;
  background: none;
  -webkit-text-fill-color: #fff;
  font-size: 30px;
  letter-spacing: 0; }

.leaderboard-intro-section {
  width: 100%;
  height: 700px;
  background-color: rgba(0, 0, 0, 0.4); }

.leaderboard-intro-content-container {
  color: #fff;
  width: 100%;
  margin-left: 85px; }

.leaderboard-intro-content-container p {
  line-height: 50px; }

.fa-file-alt {
  font-size: 200px;
  color: #fff; }

.sign-up-section,
.log-in-section {
  margin-top: 65px;
  min-height: 800px;
  background-color: rgba(100, 100, 70, 0.4); }

.sign-up-section-content,
.sign-up-form-container,
.log-in-section-content,
.log-in-form-container {
  color: #000;
  background-color: #fff; }

.sign-up-section-content {
  border-radius: 26px 26px 0 0; }

.log-in-section-content,
.sign-up-section-content {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px 0 50px;
  box-sizing: border-box; }

.log-in-form-container,
.sign-up-form-container {
  padding: 0px 0 20px;
  border-radius: 0 0 26px 26px; }

.sign-up-section-content p,
.log-in-section-content p {
  padding: 30px 38px 0;
  font-size: 12px; }

.sign-up-form-container input,
.log-in-form-container input {
  font-size: 12px;
  width: 50%; }

.chef-gif {
  position: relative;
  width: 400px;
  top: 2px; }

.user-photo-instructions {
  display: none;
  position: absolute;
  height: 222px;
  width: 394px;
  left: 50%;
  margin-left: -196px;
  text-align: center;
  top: 50%;
  margin-top: -147px;
  background-color: #ff0000;
  color: #fff;
  padding: 38px;
  z-index: 100; }

.user-photo-instructions-btn {
  font-size: 40px;
  margin-left: 24px;
  color: #0688fa;
  cursor: pointer; }

.photo-instructions-header,
.photo-instructions-para {
  padding: 5px;
  margin: 10px;
  font-size: 14px;
  letter-spacing: 0px; }

.photo-instructions-header {
  letter-spacing: 3px;
  margin-top: 0; }

.recipe-section,
.ingredients-section {
  margin-top: 65px; }

.recipe-section .container,
.ingredients-section .container {
  background-color: #fff;
  width: 100%;
  max-width: none; }

.header-container h1 {
  color: #fff;
  letter-spacing: 7px; }

.recipe-container,
.ingredients-container {
  background-color: #fff;
  max-width: 1122px;
  margin: 0 auto; }

.recipe-content-container,
.ingredient-content-container {
  background-color: #000;
  color: #fff;
  padding: 32px 0 8px;
  margin: 0 auto 54px;
  position: sticky;
  top: 65px;
  z-index: 3; }

.recipe-container img {
  width: 160px;
  height: 150px;
  float: left; }

.recipe {
  margin: 10px 10px 10px 0;
  width: 30%;
  float: left;
  padding: 12px 12px 0;
  background-color: #fffbee; }

.recipe p {
  color: #000;
  max-width: 148px; }

.recipe p:nth-of-type(1) {
  font-weight: 600; }

.recipe a .recipe-row-top,
.ingredient {
  background-color: #e8e4d6;
  transition: all .5s linear; }

.recipe a .recipe-row-top:hover {
  background-color: #c8b262;
  transition: all 0s linear; }

.recipe-row-top,
.recipe-row-bottom {
  display: block; }

a ~ .recipe-row-bottom {
  clear: both;
  height: 60px;
  justify-content: left; }

.recipe-row-bottom button {
  margin: 10px 20px 10px 0; }

.inner-delete-recipe-row form .delete-confirmation-message {
  max-width: 98%;
  margin: 56px auto 20px;
  padding: 0; }

.recipe-container .delete-recipe-row {
  position: absolute;
  z-index: 1;
  background-color: #f99806;
  width: 336px;
  height: 201px; }

.ingredient img {
  width: 85px;
  height: 80px;
  float: left;
  margin-right: 18px; }

.ingredient {
  width: 30%;
  float: left;
  padding: 8px;
  box-sizing: border-box;
  margin: 10px; }

.ingredient p {
  padding: 0;
  margin: 0 0 10px 0; }

.ingredient p:nth-of-type(1) {
  font-weight: 600;
  max-width: 176px; }

.ingredient-content-container button {
  font-size: 14px;
  margin: 30px 0; }

.fa-exclamation-circle {
  color: #f00; }

.fa-smile {
  color: #00f500; }

.ingredient a {
  display: inline-block;
  float: right; }

.ingredient a i {
  font-size: 30px;
  color: #000; }

.ingredient a i:hover {
  color: #ff0000; }

.details-container {
  float: left; }

.add-edit-ingredient-section {
  margin-top: 65px;
  min-height: 750px; }

.add-edit-ingredient-section .container {
  min-width: 900px;
  padding: 30px;
  background-color: #fff;
  border-radius: 20px; }

.add-edit-ingredient-section p {
  margin-bottom: 30px; }

.add-edit-ingredient-section .container button {
  float: left;
  margin-left: 0; }

.add-edit-ingredient-section .container label {
  margin-right: 30px; }

.text-input {
  width: 80%; }

.readonly {
  background-color: grey;
  color: white; }

.add-edit-ingredient-section img {
  width: 360px;
  height: 250px; }

.add-a-recipe-section {
  margin-top: 65px;
  min-height: 750px; }

.add-a-recipe-section .container {
  min-width: 900px;
  padding: 30px;
  background-color: #fff;
  border-radius: 20px; }

.add-a-recipe-section h1,
.add-a-recipe-section .row {
  margin: 20px 0; }

.add-recipe-list ~ .add-recipe-button-row {
  padding-top: 40px;
  text-align: center; }

.add-recipe-button-row button {
  margin-left: 0; }

.add-recipe-list .cusine-selection-box {
  width: 33%; }

.add-recipe-list .recipe-data-box {
  width: 67%; }

.add-recipe-list .recipe-data-box input {
  width: 80%; }

.view-recipe-section,
.edit-recipe-section {
  margin-top: 65px; }

.view-recipe-section .container:nth-of-type(1),
.edit-recipe-section .container:nth-of-type(1) {
  width: 100%;
  max-width: none;
  background-color: #000; }

.view-recipe-section .container .image-container,
.edit-recipe-section .container .image-container {
  position: relative;
  z-index: 1; }

.view-recipe-section .container .image-container img,
.edit-recipe-section .container .image-container img {
  height: 350px;
  position: relative;
  top: 1px; }

.image-container ~ h1 {
  max-width: 468px;
  text-align: center; }

.view-recipe-section h1,
.edit-recipe-section h1 {
  position: absolute;
  color: white;
  z-index: 2;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; }

.edit-recipe-section h2 {
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  background-color: #e8e4d6;
  padding: 20px 0; }

.recipe-details-container img {
  height: 50px; }

.recipe-details-container img,
.recipe-details-container h2,
.recipe-details-container p {
  float: left;
  display: inline-block;
  clear: none;
  margin: 0 20px 0 0; }

.recipe-details-container p {
  padding: 20px 20px 0; }

.recipe-details-container .recipe-name {
  max-width: 116px; }

.recipe-details-container .row {
  justify-content: unset;
  margin: 20px 0; }

.recipe-details-container .row p {
  margin-bottom: 2px; }

.recipe-instructions h2,
.recipe-ingredients h2 {
  float: none;
  width: 100%;
  margin-bottom: 20px; }

.recipe-instructions p,
.recipe-instructions th,
.recipe-instructions td,
.recipe-ingredients p,
.ingredients-table-header th,
.ingredients-table-header td,
.inserted-ingredient-row th,
.inserted-ingredient-row td {
  text-align: left;
  padding: 0;
  margin: 0 20px 10px 0;
  display: inline-block;
  width: 150px; }

.ingredients-table-header td,
.inserted-ingredient-row th,
.inserted-ingredient-row td {
  font-size: 14px;
  letter-spacing: 2px; }

.ingredients-table-header th {
  font-size: 16px;
  letter-spacing: 0.5px; }

.recipe-instructions .no-details-row,
.no-details-row {
  width: 100%;
  letter-spacing: 0.5px;
  font-size: 16px; }

.pg-header-container {
  margin: 20px 0 10px; }

.edit-recipe-container .row label {
  width: 210px;
  display: inline-block;
  margin-left: 0px; }

.edit-recipe-container input {
  width: 300px;
  margin-right: 20px; }

.recipe-details-1,
.recipe-details-2,
.recipe-details-3 {
  margin: 20px 0;
  background-color: #fffbee; }

.recipe-details-1 .content-row {
  display: flex;
  align-items: center; }

.recipe-details-1 .photo-url input {
  width: 726px; }

.recipe-details-1 .photo-url i {
  margin: 0; }

.edit-recipe-container button {
  margin-left: 0; }

.edit-recipe-container hr {
  margin: 21px 0; }

.add-ingredient-container button {
  font-size: 12px; }

.recipe-details-3 table {
  margin-bottom: 30px; }

.section-1-data,
.section-2-data,
.section-3-data {
  padding: 20px; }

.fa-plus-square,
.fa-minus-square {
  font-size: 40px;
  cursor: pointer; }

.fa-plus-square {
  color: #00f500; }

.fa-minus-square {
  color: #ff3434; }

.ingredient-box {
  margin-right: 20px; }

.ingredient-box option {
  background-color: #fffbee;
  border: 1px 0 solid #fff; }

.inserted-ingredient-row {
  display: flex;
  align-items: center;
  background-color: #fff;
  margin: 10px;
  padding: 5px; }

.ingredients-table-header th,
.inserted-ingredient-row td {
  margin: 0;
  width: 262px; }

td > img {
  width: 50px;
  height: 50px; }

.new-ingredient-container input {
  margin-right: 144px; }

.profile-section {
  margin-top: 65px;
  min-height: 750px; }

.profile-section img {
  width: 300px; }

.profile-section .container {
  background-color: #fff;
  padding: 30px;
  border-radius: 20px; }

.user-data {
  padding: 20px;
  background-color: slate; }

.user-data label {
  display: block; }

.data-container {
  float: left;
  margin: 0 20px 0 0; }

.user-photo-input {
  width: 90%; }

.user-data input {
  font-size: 22px;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 1px;
  margin: 15px 0; }

.leaderboard-intro-bg,
.sign-up-bg,
.log-in-bg,
.recipes-bg,
.ingredients-bg,
.profile-img,
.edit-add-ingredient-bg,
.add-recipe-bg {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: -1;
  top: 0px;
  transition-property: transform;
  transition-duration: .5s;
  transition-timing-function: cubic-bezier; }

.home-image {
  background-image: url("../images/bbq.jpg"); }

.profile-img {
  background-image: url("../images/fancycrave-458022-unsplash.jpg"); }

.recipes-bg {
  background-image: url("../images/bobby-rodriguezz-1052701-unsplash.jpg");
  background-position: bottom; }

.ingredients-bg {
  background-image: url("../images/ingredients-bg.jpg"); }

.leaderboard-intro-bg {
  background-image: url("../images/elli-o-65548-unsplash.jpg"); }

.sign-up-bg {
  background-image: url("../images/ali-yahya-270126-unsplash.jpg"); }

.log-in-bg {
  background-image: url("../images/simple-322427-unsplash.jpg"); }

.edit-add-ingredient-bg {
  background-image: url("../images/adils-photography-419432-unsplash.jpg"); }

.add-recipe-bg {
  background-image: url("../images/adils-photography-419432-unsplash.jpg"); }

body {
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  letter-spacing: .5px; }

section {
  box-sizing: border-box; }

h2,
h3,
h4,
h5,
h6 {
  font-family: 'Mukta Malar', sans-serif;
  clear: both;
  margin: 10px 0; }

h1 {
  font-family: 'Mukta Malar', sans-serif;
  font-weight: 600; }

.container {
  max-width: 1122px;
  margin: 0 auto; }

section:after,
.full-length-recipe-row:after,
.ingredient-row:after,
.container:after,
.recipe-row-bottom:after,
.recipe-container:after,
a:after,
.ingredients-container:after,
.profile-section:after {
  clear: both;
  content: "";
  display: block; }

.row {
  clear: both;
  display: block;
  width: 100%; }

p {
  letter-spacing: 2px;
  font-size: 14px;
  line-height: 20px; }

a,
a:visited {
  text-decoration: none;
  color: #fff; }

.center-div {
  margin: 0 auto; }

.center-text {
  text-align: center; }

.clear-float {
  clear: both; }

.sticky-div {
  position: sticky;
  top: 0; }

.uppercase {
  text-transform: uppercase; }

.clickable-link {
  display: block; }

.hidden-div {
  display: none; }

.no-float {
  float: none; }

.vert-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%); }

.column {
  width: 50%;
  float: left;
  box-sizing: border-box; }

.section-title {
  font-size: 48px;
  letter-spacing: 2px;
  font-weight: 600; }

footer {
  background-color: #000;
  min-height: 266px;
  clear: both; }

.footer-item {
  color: #fff;
  float: left;
  display: inline-block;
  margin: 25px 50px;
  width: 24%; }

.no-opacity {
  opacity: 0; }

.standard-section-height {
  min-height: 770px; }

input {
  margin: 20px 0; }

input,
li input,
select {
  font-size: 26px;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 1px;
  margin: 15px 0; }

ul {
  list-style: none; }

.page-bg {
  width: 100%;
  height: 112vh;
  position: fixed;
  top: -100px;
  z-index: -1; }

.full-width-div {
  width: 100%; }

.no-overflow {
  overflow: hidden; }

.no-float {
  float: none; }

.header-container {
  height: 400px; }

/*# sourceMappingURL=styles.css.map */
