/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

header {
  -webkit-box-shadow: 0px 10px 7px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 10px 7px -8px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 10px 7px -8px rgba(0, 0, 0, 0.75); }

.recipe, .ingredient {
  -webkit-box-shadow: 3px 6px 17px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 6px 17px -5px rgba(0, 0, 0, 0.75);
  box-shadow: 3px 6px 17px -5px rgba(0, 0, 0, 0.75); }

.leaderboard-intro-bg,
.sign-up-bg,
.log-in-bg,
.recipes-bg,
.ingredients-bg {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.welcome-message, .left,
.right, .fire-text-quote, .leaderboard-intro-section, .sign-up-section,
.log-in-section, a ~ .recipe-row-bottom, .inner-delete-recipe-row .row, .header-container {
  display: flex;
  justify-content: center;
  align-items: center; }

/*----------------- Main colors*/
/* --- Widths */
.hide-me-btn {
  display: block; }

button,
.div-btn {
  font-family: 'Oswald', sans-serif;
  width: 150px;
  margin: 10px;
  cursor: pointer;
  display: inline-block;
  background-color: #000;
  font-size: 15px;
  color: #fff;
  padding: 9px 23px;
  text-decoration: none;
  box-sizing: border-box;
  text-align: center;
  line-height: 22px;
  letter-spacing: 1px;
  border: solid 1px #fff;
  text-transform: uppercase; }

button:hover,
.div-btn:hover {
  background-color: #ff0000;
  border: solid 1px #ff0000; }

button:active,
.div-btn:active {
  transform: scale(0.95, 0.95); }

.submit-new-ingredient-btn {
  width: 20%; }

.update-ingredient-btn,
.update-recipe-btn,
.confirm-delete-recipe-btn,
.delete-recipe-btn {
  float: left; }

.update-profile-btn {
  margin: 68px 0 0; }

.add-recipe-btn {
  margin: 20px 0; }

.grow {
  transition-property: transform;
  transition-duration: 1s;
  transition-timing-function: linear; }

.grow:hover {
  transform: scale(1.1); }

.grow-pic {
  transition-property: transform;
  transition-duration: .5s;
  transition-timing-function: cubic-bezier;
  transform: scale(1.1); }

.fade-in-text {
  opacity: 1;
  transition-property: opacity;
  transition-duration: 2s;
  transition-timing-function: linear; }

.shake {
  -webkit-animation-name: shake;
  -ms-animation-name: shake;
  -ms-animation-duration: 2000ms;
  -webkit-animation-duration: 2000ms;
  -webkit-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -ms-animation-timing-function: ease-in-out; }

@keyframes shake {
  0% {
    transform: rotate(0.5deg); }
  10% {
    transform: rotate(-0.5deg); }
  20% {
    transform: rotate(0.5deg); }
  30% {
    transform: rotate(-0.5deg); }
  40% {
    transform: rotate(0.5deg); }
  50% {
    transform: rotate(0deg); } }
.flame {
  animation-name: flame;
  animation-duration: 2s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards; }

@keyframes flame {
  0% {
    text-shadow: 25px 16px 56px #f99806; }
  50% {
    text-shadow: 8px -5px 32px #ffff00; }
  100% {
    text-shadow: 0px -5px 32px #f99806; } }
.hidden-to-visible {
  transition-property: transform;
  transition-duration: 1s;
  transition-timing-function: linear;
  animation-name: hidden-to-visible;
  animation-duration: 5s;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards; }

@keyframes hidden-to-visible {
  0% {
    transform: scale(0); }
  100% {
    transform: scale(1); } }
.pre-slide-in-from-left,
.pre-slide-in-from-right,
.slide-in-from-left,
.slide-in-from-right {
  position: relative;
  transition-duration: 1s;
  transition-delay: 0s;
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94); }

.pre-slide-in-from-left {
  left: -200vw;
  transition-property: left; }

.pre-slide-in-from-right {
  right: -200vw;
  transition-property: right; }

.slide-in-from-left {
  left: 0; }

.slide-in-from-right {
  right: 0; }

header {
  width: 100%;
  color: #fff;
  background-color: #000;
  height: 65px;
  position: fixed;
  top: 0px;
  background-size: contain;
  z-index: 10000; }

nav,
nav ul {
  font-family: 'Oswald', sans-serif;
  margin: 5px;
  padding: 3px; }

nav {
  margin: 0 auto;
  max-width: 1122px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around; }

nav ul,
nav ul li {
  float: right; }

nav ul li {
  display: block;
  margin: 5px 30px;
  background-color: #000;
  padding: 5px; }

.logo {
  float: left;
  margin: 10px;
  padding: 8px 30px 8px 8px;
  height: 56px; }

.nav-icon {
  padding: 0 12px 0 0; }

.round-pop-up-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  -webkit-box-shadow: 7px 10px 32px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 7px 10px 32px -5px rgba(0, 0, 0, 0.75);
  box-shadow: 7px 10px 32px -5px rgba(0, 0, 0, 0.75);
  background-color: #f2ff00;
  z-index: 100; }

.flashed-message {
  width: 70%;
  padding: 86px 20px 20px; }

.pop-up-btn {
  margin: 20px auto; }

.welcome-message-section {
  min-width: 1240px;
  background-color: #000; }

.welcome-message-section .welcome-message,
.welcome-message-section img {
  float: left;
  box-sizing: border-box;
  height: 100vh;
  min-width: 600px; }

.welcome-message-section img {
  width: 54%; }

.welcome-message {
  width: 46%; }

.welcome-message-content {
  width: 58%; }

.welcome-message-content h1 {
  font-size: 62px;
  margin: 30px 0;
  color: #fff;
  /* Fallback: assume this color ON TOP of image */
  background: url(../images/fire.jpg) no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.welcome-message-content h1,
.welcome-message-content h3 {
  color: #fff;
  letter-spacing: 5px; }

.welcome-message-content h3 {
  font-size: 24px; }

.welcome-message-content p {
  color: #fff;
  font-size: 15px;
  line-height: 28px;
  font-family: 'Oswald', sans-serif; }

.welcome-message-content button {
  margin-left: 0;
  margin-top: 76px; }

.welcome-sentence {
  padding: 100px 0; }

.welcome-sentence p {
  padding: 0;
  font-size: 18px;
  line-height: 2.4; }

.welcome-sentence span {
  color: #ff0000;
  font-weight: 600; }

.welcome-sentence,
.ingredients-intro-section {
  background-color: #fff; }

.recipes-intro-content p,
.ingredients-intro-section p {
  max-width: 640px;
  font-size: 18px;
  color: #bbb;
  line-height: 2.4;
  letter-spacing: 0; }

.recipes-intro-content img {
  width: 100%;
  margin: 0;
  padding: 0;
  display: block;
  float: left; }

.recipes-intro-content .pic-overlay {
  position: absolute;
  width: 50%;
  background-color: rgba(30, 30, 0, 0.15); }

.recipes-intro-content .pic-overlay,
.recipes-intro-content img,
.recipes-intro-section .right {
  height: 750px; }

.recipes-intro-content .right a,
.ingredients-intro-content p ~ a {
  font-weight: 600;
  color: #ff0000; }

.ingredients-intro-content a {
  display: block;
  margin-top: 42px; }

.left,
.right {
  float: left; }

.recipes-intro-section .left {
  width: 50%; }

.recipes-intro-section .right {
  background-color: #000;
  color: #fff;
  width: 50%; }

.ingredients-intro-section {
  padding: 100px 0;
  width: 100%; }

.ingredients-intro-section .container {
  max-width: 1122px;
  margin: 0 auto; }

.ingredients-intro-section img {
  height: 400px;
  width: 250px;
  margin: 0 20px; }

.ingredients-intro-section .left {
  justify-content: left; }

.ingredients-intro-section .left,
.ingredients-intro-section .right {
  width: 50%; }

.ingredients-intro-content {
  width: 80%; }

.ingredients-intro-content p {
  color: #060606; }

.fire-text-quote {
  background-color: #000;
  width: 100%;
  height: 600px; }

.fire-text-quote div {
  max-width: 60%;
  margin: 0 auto; }

.fire-text-quote p {
  color: #fff;
  /* Fallback: assume this color ON TOP of image */
  background: url(../images/fire.jpg) no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 46px;
  line-height: 60px; }

.fire-text-quote p:nth-of-type(2) {
  color: #fff;
  background: none;
  -webkit-text-fill-color: #fff;
  font-size: 30px;
  letter-spacing: 0; }

.leaderboard-intro-section {
  width: 100%;
  height: 700px;
  background-color: rgba(0, 0, 0, 0.4); }

.leaderboard-intro-content-container {
  color: #fff;
  width: 76%; }

.fa-file-alt {
  font-size: 200px;
  color: #fff; }

.sign-up-section,
.log-in-section {
  margin-top: 65px;
  min-height: 800px;
  background-color: rgba(100, 100, 70, 0.4); }

.sign-up-section-content,
.sign-up-form-container,
.log-in-section-content,
.log-in-form-container {
  color: #000;
  background-color: #fff; }

.sign-up-section-content {
  border-radius: 26px 26px 0 0; }

.log-in-section-content,
.sign-up-section-content {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px 0 50px;
  box-sizing: border-box; }

.log-in-form-container,
.sign-up-form-container {
  padding: 0px 0 20px;
  border-radius: 0 0 26px 26px; }

.sign-up-section-content p,
.log-in-section-content p {
  padding: 30px 38px 0;
  font-size: 12px; }

.sign-up-form-container input,
.log-in-form-container input {
  font-size: 12px;
  width: 50%; }

.chef-gif {
  position: relative;
  width: 400px;
  top: 2px; }

.profile-pic {
  width: 294px;
  height: 200px;
  margin: 0 auto 30px;
  display: block; }

.profile-img ~ .profile-section {
  padding: 20px;
  background-color: rgba(255, 235, 0, 0.8);
  margin: 50px auto;
  border-radius: 14px; }

.profile-section .row {
  margin: 30px auto 0; }

.profile-section .row:nth-of-type(2) {
  margin: 15px auto; }

.profile-section .new-user-form label {
  color: #000;
  float: left;
  padding: 34px 0 0;
  width: 300px; }

.profile-section .new-user-form .picture-input {
  width: 660px; }

.profile-section .new-user-form input {
  width: 400px; }

.user-photo-instructions {
  display: none;
  border: 9px solid #000;
  position: absolute;
  height: 189px;
  width: 394px;
  right: 20vw;
  text-align: center;
  top: 15vh;
  background-color: white;
  color: black;
  padding: 38px; }

.user-photo-instructions-btn {
  font-size: 40px;
  margin-left: 24px;
  color: #0688fa;
  cursor: pointer; }

.photo-instructions-header,
.photo-instructions-para {
  padding: 5px;
  margin: 10px;
  font-size: 14px;
  letter-spacing: 0px; }

.photo-instructions-header {
  letter-spacing: 3px;
  margin-top: 0; }

.recipe-section,
.ingredients-section {
  margin-top: 65px; }

.recipe-section .container,
.ingredients-section .container {
  background-color: #fff;
  width: 100%;
  max-width: none; }

.header-container h1 {
  color: #fff;
  letter-spacing: 7px; }

.recipe-container,
.ingredients-container {
  background-color: #fff;
  max-width: 1122px;
  margin: 0 auto; }

.recipe-content-container,
.ingredient-content-container {
  background-color: #000;
  color: #fff;
  padding: 8px 0;
  margin: 0 auto 54px;
  position: sticky;
  top: 65px;
  z-index: 3; }

.recipe-container img {
  width: 160px;
  height: 150px;
  float: left; }

.recipe {
  margin: 10px 10px 10px 0;
  width: 30%;
  float: left;
  padding: 12px;
  background-color: #fffbee; }

.recipe p {
  color: #000;
  max-width: 148px; }

.recipe p:nth-of-type(1) {
  font-weight: 600; }

.recipe-details-container {
  padding: 5px 0 0 25px;
  display: inline-block; }

.recipe a .recipe-row-top,
.ingredient {
  background-color: #fffbee;
  transition: all 1s linear; }

.recipe a .recipe-row-top:hover {
  background-color: #e8e4d6; }

.recipe-row-top,
.recipe-row-bottom {
  display: block; }

a ~ .recipe-row-bottom {
  clear: both;
  height: 60px; }

.recipe-row-bottom button {
  margin: 10px 5px; }

.inner-delete-recipe-row form .delete-confirmation-message {
  max-width: 98%;
  margin: 56px auto 20px;
  padding: 0; }

.recipe-container .delete-recipe-row {
  position: absolute;
  z-index: 1;
  background-color: #f99806;
  width: 336px;
  height: 220px; }

.ingredient img {
  width: 85px;
  height: 80px;
  float: left;
  margin-right: 18px; }

.ingredient {
  width: 23%;
  float: left;
  padding: 8px;
  box-sizing: border-box;
  margin: 10px; }

.ingredient p {
  padding: 0;
  margin: 0 0 10px 0; }

.ingredient p:nth-of-type(1) {
  font-weight: 600; }

.ingredient-content-container button {
  font-size: 14px;
  margin: 30px 0; }

.fa-exclamation-circle {
  color: #f00; }

.fa-smile {
  color: #00f500; }

.ingredient button {
  width: 100px;
  height: 42px;
  float: right; }

.leaderboard-intro-bg,
.sign-up-bg,
.log-in-bg,
.recipes-bg,
.ingredients-bg {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: -1;
  top: 0px;
  transition-property: transform;
  transition-duration: .5s;
  transition-timing-function: cubic-bezier; }

.home-image {
  background-image: url("../images/bbq.jpg"); }

.profile-img {
  background-image: url("../images/food-board.jpg"); }

.recipes-bg {
  background-image: url("../images/bobby-rodriguezz-1052701-unsplash.jpg");
  background-position: bottom; }

.view-recipe-bg {
  background-image: url("../images/food2.jpg"); }

.ingredients-bg {
  background-image: url("../images/ingredients-bg.jpg"); }

.leaderboard-intro-bg {
  background-image: url("../images/elli-o-65548-unsplash.jpg"); }

.sign-up-bg {
  background-image: url("../images/ali-yahya-270126-unsplash.jpg"); }

.log-in-bg {
  background-image: url("../images/simple-322427-unsplash.jpg"); }

body {
  font-family: 'K2D', sans-serif;
  font-weight: 500;
  letter-spacing: .5px; }

section {
  box-sizing: border-box; }

h2,
h3,
h4,
h5,
h6 {
  font-family: 'Oswald', sans-serif;
  clear: both;
  margin: 10px 0; }

h1 {
  font-family: 'Mukta Malar', sans-serif;
  font-weight: 600; }

.container {
  max-width: 1122px;
  margin: 0 auto; }

section:after,
.full-length-recipe-row:after,
.ingredient-row:after,
.container:after,
.recipe-row-bottom:after,
.recipe-container:after,
a:after,
.ingredients-container:after {
  clear: both;
  content: "";
  display: block; }

.row {
  clear: both;
  display: block;
  width: 100%; }

p {
  padding: 26px 0 0;
  letter-spacing: 2px;
  font-size: 14px;
  line-height: 20px; }

a,
a:visited {
  text-decoration: none;
  color: #fff; }

.center-div {
  margin: 0 auto; }

.center-text {
  text-align: center; }

.clear-float {
  clear: both; }

.sticky-div {
  position: sticky;
  top: 0; }

.uppercase {
  text-transform: uppercase; }

.clickable-link {
  display: block; }

.hidden-div {
  display: none; }

.no-float {
  float: none; }

.vert-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%); }

.column {
  width: 50%;
  float: left;
  box-sizing: border-box; }

.section-title {
  font-size: 48px;
  letter-spacing: 2px;
  font-weight: 600; }

footer {
  background-color: #000;
  min-height: 266px;
  clear: both; }

.footer-item {
  color: #fff;
  float: left;
  display: inline-block;
  margin: 25px 50px;
  width: 24%; }

.no-opacity {
  opacity: 0; }

.standard-section-height {
  min-height: 770px; }

input {
  margin: 20px 0; }

li input,
select {
  font-size: 30px;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 1px;
  margin: 15px 0; }

ul {
  list-style: none; }

.page-bg {
  width: 100%;
  height: 112vh;
  position: fixed;
  top: -100px;
  z-index: -1; }

.full-width-div {
  width: 100%; }

.no-overflow {
  overflow: hidden; }

.no-float {
  float: none; }

.header-container {
  height: 400px; }

/*# sourceMappingURL=styles.css.map */
