@import "helpers/cssreset";
@import "helpers/placeholders";
@import "helpers/colors";
@import "helpers/media-queries";
@import "components/buttons";
@import "components/animations";
@import "components/base";
@import "components/pages";
@import "components/page-backgrounds";

// General styling -------------------------------------------------------------
body {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    letter-spacing: .5px;
}

section {
    box-sizing: border-box;
}

h2,
h3,
h4,
h5,
h6 {
    font-family: 'Mukta Malar', sans-serif;
    clear: both;
    margin: 10px 0;
}

h1 {
    font-family: 'Mukta Malar', sans-serif;
    font-weight: 600;
}

.container {
    max-width: 1122px;
    margin: 0 auto;
}

section:after,
.full-length-recipe-row:after,
.ingredient-row:after,
.container:after,
.recipe-row-bottom:after,
.recipe-container:after,
a:after,
.ingredients-container:after,
.profile-section:after,
.recipe-existing-instructions:after,
.recipe-existing-ingredients:after{
    clear: both;
    content: "";
    display: block;
}

.row {
    clear: both;
    display: block;
    width: 100%;
}

p {
    letter-spacing: 2px;
    font-size: 14px;
    line-height: 20px;
}

a,
a:visited {
    text-decoration: none;
    color: $white;
}

.center-div {
    margin: 0 auto;
}

.center-text {
    text-align: center;
}

.clear-float {
    clear: both;
}

.sticky-div {
    position: sticky;
    top: 0;
}

.uppercase {
    text-transform: uppercase;
}

.clickable-link {
    display: block;
}

.hidden-div {
    display: none;
}

.no-float {
    float: none;
}

.vert-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.column {
    width: 50%;
    float: left;
    box-sizing: border-box;
}

.section-title {
    font-size: 48px;
    letter-spacing: 2px;
    font-weight: 600;
    
    @include laptop {
        font-size: 38px;    
    }
    
    @include large-tablet {
        font-size: 26px;    
    }
}

.no-opacity {
    opacity: 0;
}

.standard-section-height {
    min-height: 770px;
}

input {
    margin: 20px 0;
}

input,
li input,
select {
    font-size: 26px;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1px;
    margin: 15px 0;
}

ul {
    list-style: none;
}

.page-bg {
    width: 100%;
    height: 112vh;
    position: fixed;
    top: -100px;
    z-index: -1;
}

.full-width-div {
    width: 100%;
}

.no-overflow {
    overflow: hidden;
}

.no-float {
    float: none;
}

.header-container {
    height: 400px;
    @extend %centralise-inner-container;
}

.img-container {
    @extend %centralise-inner-container;
}

.spill-text {
    white-space: nowrap;
}

textarea:focus, input:focus{
    outline: none;
}

textarea {
    resize: none;
}