// General styling -------------------------------------------------------------

body {
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1px;
}

header {
    height: 50px;
    margin: 0 0 50px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Mukta Malar', sans-serif;
    clear: both;
}

.container {
    max-width: 992px;
    margin: 0 auto;
}

.row {
    clear: both;
    display: block;
    width: 100%;
}

a, 
a:visited {
    text-decoration: none;
    color: #000;
}

.center-div {
    margin: 0 auto;
}

.center-text {
    text-align: center;
}

.clear-float {
    clear: both;
}

.sticky-div {
    position: sticky;
    top: 0;
    background-color: #fff;
}

// Buttons ---------------------------------------------------------------------

.hide-me-btn {
    display: block;
    width: 150px;
    border-radius: 25px;
    margin-top: 20px;
}

// Header Styling --------------------------------------------------------------

nav,
nav ul {
    margin: 5px;
    padding: 0;
}

nav {
    margin: 0 auto;
    max-width: 1122px;
}

nav ul,
nav ul li {
    float: right;
}

nav ul li {
    display: block;
    margin: 5px 30px;
}

.logo {
    float: left;
    width: 100px;
}

// Message containers ----------------------------------------------------------

.round-pop-up-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    -webkit-box-shadow: 7px 10px 32px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px 10px 32px -5px rgba(0,0,0,0.75);
    box-shadow: 7px 10px 32px -5px rgba(0,0,0,0.75);
    background-color: #8adade;
}

.flashed-message {
    width: 70%;
    margin-top: 40%;
}

// Home page -------------------------------------------------------------------

ul {
    list-style: none;
}

input,
hr {
    width: 300px;
    margin: 5px 0;
}

// Profile page ----------------------------------------------------------------

.profile-pic {
    width: 200px;
    height: 200px;
}

// Ingredient list -------------------------------------------------------------

.list-headings {
    height: 50px;
    margin: 0 0 20px;
}

.ingredient-list-item {
    display: inline-block;
    float: left;
    margin: 0 10px;
    width: 400px;
}

.ingredient-img {
    width: 75px;
    height: 75px;
}

.ingredient-list-item {
    display: inline-block;
    float: left;
    margin: 0 10px;
    width: 200px;
}

.ingredient-row {
    height: 86px;
    margin: 0 auto 10px;
}

.checkbox-switch {
    width: 20px;
    display: block;
}

.fa-exclamation-circle {
    color: red; // #danger-red
}

.fa-smile {
    color: #53f953; // #safe-green
}

//  Edit ingredients -----------------------------------------------------------

.edit-ingredient-img {
    width: 200px;
    height: 200px;
}