.grow {
    transition-property: transform;
    transition-duration: 1s;
    transition-timing-function: linear;
}

.grow:hover {
    transform: scale(1.1);
}

.fade-in-text {
    opacity: 1;
    transition-property: opacity;
    transition-duration: 4s;
    transition-timing-function: linear;
}

.shake {
    -webkit-animation-name: shake;
    -ms-animation-name: shake;
    -ms-animation-duration: 2000ms;
    -webkit-animation-duration: 2000ms;
    -webkit-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -ms-animation-timing-function: ease-in-out;
}

@keyframes shake {
    0% {
        transform: rotate(.5deg);
    }
    10% {
        transform: rotate(-.5deg);
    }
    20% {
        transform: rotate(.5deg);
    }
    30% {
        transform: rotate(-.5deg);
    }
    40% {
        transform: rotate(.5deg);
    }
    50% {
        transform: rotate(0deg);
    }
}

.flame {
    animation-name: flame;
    animation-duration: 2s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
}

@keyframes flame {
    0% {
        text-shadow: 25px 16px 56px #f99806;
    }
    50% {
        text-shadow: 8px -5px 32px #ffff00;
    }
    100% {
        text-shadow: 0px -5px 32px #f99806;
    }
}

.hidden-to-visible {
    transition-property: transform;
    transition-duration: 1s;
    transition-timing-function: linear;
    animation-name: hidden-to-visible;
    animation-duration: 5s;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes hidden-to-visible {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

.pre-slide-in-from-left,
.pre-slide-in-from-right,
.slide-in-from-left,
.slide-in-from-right {
    position: relative;
    transition-duration: 1s;
    transition-delay: 0s;
    transition-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940);
}

.pre-slide-in-from-left {
    left: -100%;
    transition-property: left;
}

.pre-slide-in-from-right {
    right: -100%;
    transition-property: right;
}

.slide-in-from-left {
    left: 0;
}

.slide-in-from-right {
    right: 0;
}
