// Buttons ---------------------------------------------------------------------

.hide-me-btn {
    display: block;
}

button,
.div-btn {
    font-family: 'Oswald', sans-serif;
    width: 150px;
    margin: 10px;
    cursor: pointer;
    display: inline-block;
    background-color: $black;
    font-size: 15px;
    color: $white;
    padding: 9px 23px;
    text-decoration: none;
    box-sizing: border-box;
    text-align:center;
    line-height: 22px;
    letter-spacing: 1px;
    border: solid 1px $white;
    text-transform: uppercase;
    
    @include tablet {
        width: 110px;
        font-size: 12px;
        padding: 6px 13px;
    }
}

button:hover,
.div-btn:hover {
    background-color: $fire-red;
    border: solid 1px $fire-red;
}

button:active,
.div-btn:active {
    transform: scale(.95, .95);
}

.submit-new-ingredient-btn {
    width: 20%;
}

.update-ingredient-btn,
.update-recipe-btn,
.confirm-delete-recipe-btn,
.delete-recipe-btn {
    float: left;
}

.add-recipe-btn {
    margin: 20px 0;
}