// Home page -------------------------------------------------------------------

.welcome-message-section {
    background-color: $black;
}

.welcome-message-section .welcome-message,
.welcome-message-section img {
    float: left;
    box-sizing: border-box;
    height: 740px;
    
}

.welcome-message-section img {
    width: 54%;
    
    @include large-tablet {
        height: 740x;
        position: relative;
        width: 100%;
    }
    
    @include tablet {
        height: 700px;
    }
    
    @include large-mobile {
        height: 558px;
    }
    
    @include mobile {
        height: 490px;
    }
}

.welcome-message-section .welcome-message {
    @extend %centralise-inner-container;
    width: 46%;
    
    @include large-tablet {
        height: auto;
        position: absolute;
        top: 106px;
        width: 100%;
        z-index: 1;
        background-color: $black;
        text-align: center;
        padding: 30px;
    }
    
    @include tablet {
        padding: 12px;
    }
    
    @include large-mobile {
        top: 84px;
    }
}

.welcome-message-content {
    width: 58%;
    
    @include laptop {
        margin-top: 50px;
        width: 74%;
    }
    
    @include large-tablet {
        margin-top: 10px;
    }
}

.welcome-message-content h1 {
    font-size: 62px;
    margin: 30px 0;
    color: $white;  /* Fallback: assume this color ON TOP of image */
    background: url(../images/fire.jpg) no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: 5px;
    
    @include laptop {
        font-size: 40px;
        margin: 21px 0;
    }
    
    @include large-tablet {
        font-size: 58px;
        margin: 14px 0;
    }
    
    @include tablet {
        font-size: 50px;
    }
    
    @include large-mobile {
        font-size: 38px;
    }
}

.welcome-message-content h1,
.welcome-message-content h3 {
    color: $white;
}

.welcome-message-content h3 {
    font-size: 24px;
    
    @include laptop {
        font-size: 18px;
    }
}

.welcome-message-content h3 ~ p:nth-of-type(1) {
    margin: 74px 0 30px;
        
    @include laptop {
        margin: 50px 0 30px;
    }    
    
    @include large-tablet {
        margin: 20px 0;
    }
}

.welcome-message-content p {
    color: $white;
    font-size: 15px;
    line-height: 28px;
    font-family: 'Oswald', sans-serif;
    
    @include laptop {
        font-size: 12px;
    }
    
    @include large-mobile {
        font-size: 10px;
    }
}

.welcome-message-content p:nth-of-type(2){
    
    @include large-tablet {
        display: none;    
    }
}

.welcome-message-content button {
    margin-left: 0;
    margin-top: 76px;
    
    @include laptop {
        margin-top: 30px;
    }
    
    @include tablet {
        margin-top: 14px;
    }
}

.welcome-sentence {
    padding: 100px 0;
    
    @include laptop {
        padding: 70px 0;
    }
    
    @include large-tablet {
        padding: 56px 0;
    }
}

.welcome-sentence p {
    padding: 0;
    font-size: 18px;
    line-height: 2.4;
    
    @include large-tablet {
        font-size: 15px;
    }
    
    @include large-mobile {
        font-size: 12px;
        padding: 0px 50px;
    }
}

.welcome-sentence span {
    color: $fire-red;
        font-weight: 600;
}

.welcome-sentence,
.ingredients-intro-section {
    background-color: $white;
}

.recipes-intro-content h2,
.ingredients-intro-content h2 {
    margin: 0 0 40px;
    
    @include tablet {
        margin: 0 0 20px;
    }
}

.ingredients-intro-content h2 {
    
    @include large-tablet {
        margin: 0 0 29px;
    }
}

.recipes-intro-content p,
.ingredients-intro-section p {
    max-width: 640px;
    font-size: 18px;
    color: $grey-para-text;
    line-height: 2.4;
    letter-spacing: 0;
}

.recipes-intro-content img {
    width: 100%;
    margin: 0;
    padding: 0;
    display: block;
    float: left;
}

.recipes-intro-content .pic-overlay {
    position: absolute;
    width: 50%;
    background-color: rgba(30,30,0,.15);
    
    @include tablet {
        width: 100%;
    }
}

.recipes-intro-content .pic-overlay,
.recipes-intro-content img,
.recipes-intro-section .right {
    height: 750px;
    
    @include laptop {
        height: 500px;
    }
    
    @include large-tablet {
        height: 390px;
    }
}

.recipes-intro-content .right a,
.ingredients-intro-content p a {
    font-weight: 600;
    color: $fire-red;
    
    @include laptop {
        font-size: 17px;
    }
}

.ingredients-intro-content p a {
    display: block;
    margin-top: 42px;
    
    @include tablet {
        margin-top: 18px;
    }
}

.left,
.right {
    float: left;
    @extend %centralise-inner-container;
}

.recipes-intro-section .left {
    width: 50%;
    
    @include tablet {
        width: 100%;
    }
}

.recipes-intro-section .right {
    background-color: $black;
    color: $white;
    width: 50%;
    box-sizing: border-box;
    
    @include laptop {
        padding-left: 68px;    
    }
    
    @include large-tablet {
        padding-left: 0;    
    }
    
    @include tablet {
        width: 100%;
        height: 220px;
        text-align: center;
    }
}

.ingredients-intro-section {
    padding: 100px 0;
    width: 100%;
    
    @include large-tablet {
        padding: 70px 0;
    }
    
    @include tablet {
        padding: 54px 0;
        text-align: center;
    }
    
    @include large-mobile {
        padding: 54px 0 0;
    }
}

.ingredients-intro-section .container {
    max-width: 1122px;
    margin: 0 auto;
    display: flex;
    
    @include large-tablet {
        justify-content: center;    
    }
    
    @include tablet {
        display: block;    
    }
    
}

.ingredients-intro-section img {
    height: 400px;
    width: 250px;
    margin: 0 20px;
    
    @include laptop {
        height: 280px;
        width: 185px;
    }
    
    @include large-tablet {
        height: 264px;
        width: 158px;
        margin: 0 12px;
    }
    
    @include large-mobile {
        margin: 0px;
        width: 50%;
    }
}

.ingredients-intro-section .left {
    justify-content: left;
    
    @include large-tablet {
        justify-content: center;
    }
    
    @include tablet {
        padding-bottom: 20px;
    }
}

.ingredients-intro-section .left,
.ingredients-intro-section .right {
    width: 50%;
    
    @include tablet {
        width: 100%;
    }
}

.ingredients-intro-content {
    width: 80%;
    
    @include laptop {
        margin-left: 78px;
    }
    
    @include large-tablet {
        margin-left: 48px;
    }
    
    @include tablet {
        margin-left: 0;
    }
}

.ingredients-intro-content p {
    color: #060606;
    
    @include laptop {
        font-size: 15px;
    }
}

.fire-text-quote {
    background-color: $black;
    width: 100%;
    height: 600px;
    @extend %centralise-inner-container;
    
    @include laptop {
        height: 400px;
    }
    
    @include large-tablet {
        height: 362px;
    }
    
    @include large-mobile {
        height: 442px;
        padding: 52px 0;
    }
}


.fire-text-quote div {
    max-width: 60%;
    margin: 0 auto;
    
    @include laptop {
        max-width: 72%;
    }
}

.quote {
    margin-bottom: 40px;
    
    @include large-tablet {
        margin-bottom: 25px;
    }
}

.fire-text-quote p {
    color: $white;  /* Fallback: assume this color ON TOP of image */
    background: url(../images/fire.jpg) no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 46px;
    line-height: 60px;
    
    @include laptop {
        font-size: 36px;
        line-height: 45px;
    }
    
    @include large-tablet {
        font-size: 25px;
        line-height: 40px;
    }
    
    @include tablet {
        text-align: center;
    }
    
    @include large-mobile {
        font-size: 18px;
    }
}

.fire-text-quote p:nth-of-type(2){
    color: $white;
    background: none;
    -webkit-text-fill-color: $white;
    font-size: 30px;
    letter-spacing: 0;
    
    @include laptop {
        font-size: 20px;
    }
    
    @include large-tablet {
        font-size: 16px;
    }
}

.leaderboard-intro-section {
    width: 100%;
    height: 700px;
    @extend %centralise-inner-container;
    background-color: rgba(0,0,0,.4);
    
    @include laptop {
        height: 600px;
    }
    
    @include large-tablet {
        height: 530px;
    }
    
    @include tablet {
        flex-wrap: wrap;
        height: 460px;
        text-align: center;
        padding: 0 58px;
    }
    
    @include large-mobile {
        padding: 0 0 20px;
    }
}

.leaderboard-intro-section .left,
.leaderboard-intro-section .right {
    
    @include large-mobile {
         width: 78%;   
         display: block;
         position: static;
         float: none;
         clear: both;
         text-align: center;
    }
}

.leaderboard-intro-section .left {
    @include large-mobile {
        padding-top: 50px;
    }
}

.leaderboard-intro-content-container {
    color: $white;
    width: 100%;
    margin-left: 85px;
    
    @include laptop {
        margin-left: 48px;
    }
    
    @include large-tablet {
        margin-left: 40px;
    }
    
    @include tablet {
        margin-left: 0px;
    }
}

.leaderboard-intro-content-container p {
    line-height: 50px;
    
    @include large-tablet {
        line-height: 36px;
        font-size: 11px;
    }
}

.fa-file-alt {
    font-size: 200px;
    color: $white;
    
    @include laptop {
        font-size: 120px;
    }
    
    @include large-tablet {
        font-size: 92px;
    }
}

// Sign-up / Sign-in -----------------------------------------------------------

.sign-up-section,
.log-in-section {
    margin-top: 65px;
    min-height: 80vh;
    @extend %centralise-inner-container;
    background-color: rgba(100,100,70,.4);
    
    @include large-tablet {
        margin-top: 58px;
    }
    
    @include large-mobile {
        margin-top: 56px;
    }
}

.sign-up-section-content,
.sign-up-form-container,
.log-in-section-content,
.log-in-form-container {
    color: $black;
    background-color: $white;
}

.log-in-section .container {
    margin: 20px auto;
    
    @include large-mobile {
        margin: 0px auto;
        width: 100%;
    }
}

.sign-up-section-content {
    border-radius: 26px 26px 0 0;
    
    @include large-mobile {
        border-radius: 0;
    }
}

.log-in-section-content,
.sign-up-section-content {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px 0 50px;
    box-sizing: border-box;
    
    @include large-mobile {
        width: 100%;
        max-width: none;
        padding: 20px 0 18px;
    }
}

.log-in-form-container,
.sign-up-form-container {
    padding: 0px 0 20px;
    border-radius: 0 0 26px 26px;
    
    @include large-mobile {
        border-radius: 0;
    }
}

.sign-up-section-content p,
.log-in-section-content p {
    padding: 30px 38px 0;
    font-size: 12px;
}

.sign-up-form-container input,
.log-in-form-container input {
    font-size: 12px;
    width: 50%;
}

.chef-gif {
    position: relative;
    width: 400px;
    top: 2px;
    
    @include large-mobile {
        width: 100%;
    }
}

// User photo pop up -----------------------------------------------------------

.user-photo-instructions {
    display: none;
    position: absolute;
    height: 222px;
    width: 394px;
    left: 50%;
    margin-left: -196px;
    text-align: center;
    top: 50%;
    margin-top: -147px;
    background-color: #e8e4d6;
    color: $black;
    padding: 38px;
    z-index: 100;
    @extend %box-shadow-large;
    
    @include large-tablet {
        left: 42%;
        top: 40%;
        padding: 30px;
        height: 183px;
    }
    
    @include large-mobile {
        left: 61%;
        top: 35%;
        width: 260px;
        height: 243px;
        
    }
}

.user-photo-instructions-btn {
    font-size: 40px;
    margin-left: 24px;
    color: $question-dark-blue;
    cursor: pointer;
    
    @include large-tablet {
        font-size: 25px;
    }
}

.photo-instructions-header {
    padding: 5px;
    margin: 10px;
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 600;
}

.photo-instructions-para {
    padding: 5px;
    margin: 10px;
    font-size: 12px;
    letter-spacing: 1px;
    
    @include tablet {
        padding: 4px;
        font-size: 10px;
        margin: 8px;
    }
}

.photo-instructions-header {
    letter-spacing: 3px;
    margin-top: 0;
    
    @include tablet {
        font-size: 16px;
    }
}

// Recipes.html / Ingredients.html ---------------------------------------------

.recipe-section,
.ingredients-section {
    margin-top: 65px;
}

.recipe-section .container,
.ingredients-section .container{
    background-color: $white;
    width: 100%;
    max-width: none;
}



.header-container h1 {
    color: $white;
    letter-spacing: 7px;
}

.recipe-container,
.ingredients-container {
    background-color: $white;
    max-width: 1122px;
    margin: 0 auto;
}

.outer-recipe-container {
    padding-bottom: 70px;
}

.recipe-content-container,
.ingredient-content-container {
    background-color: $black;
    color: $white;
    padding: 32px 0 8px;
    margin: 0 auto 54px;
    position: sticky;
    top: 65px;
    z-index: 3;
    
    @include tablet {
        top: 58px;
        margin: 0 auto 22px;
    }
}

.ingredient-content-container p {
    padding: 0 20px;
}

.recipe-content-container {
    margin: 0 auto 20px;
    
    @include tablet {
        margin: 0 auto 8px;
    }
    
    @include large-mobile {
        padding: 32px 20px 8px;
    }
    
    @include mobile {
        padding: 8px 20px 0px;
    }
}

.recipe-container img {
    width: 50%;
    height: 150px;
    float: left;
}

.recipe-container .recipe-info-container {
    width: 50%;
    display: inline-block;
    text-align: left;
}

.recipe-container .next-recipes-btn {
    font-size: 10px;
    margin: 14px 2px;
    width: 100px;
    border-radius: 20px;
    background-color: #fffbee;
    color: $black;
    border-color: $black;
    padding: 2px 0;
    
    @include tablet {
        font-size: 9px;
        margin: 8px 2px;
        width: 80px;
    }
}

.recipe-container .next-recipes-btn:hover {
    background-color: #e8e4d6;
}

.recipe-container .filter-btn-row {
    top: 225px;
    background-color: white;
    z-index: 5;
    @extend %centralise-inner-container;
    
    @include tablet {
        top: 213px;
    }
    
    @include large-mobile {
        top: 235px;
    }
}

.filter-btn-row .container {
    width: auto;
    text-align: center;
    
    @include large-mobile {
        padding-bottom: 10px;
    }
}

.recipe-container .filter-btn-row:nth-of-type(1) {
    position: sticky;
    
    @include mobile {
        position: static;
    }
}

.dropdown-box {
    text-align: right;
}

.dropdown-box,
.dropdown-box .dropbtn,
.dropdown-options,
.dropdown-options a {
    width: 200px;
    
    @include large-tablet {
        width: 106px;
    }
    
    @include large-mobile {
        width: 152px;
    }
}

.dropdown-box .dropbtn {
    margin: 6px 0 0 ;
}

.dropdown-box {
    display: inline-block;
    min-width: 160px;
    
    @include large-tablet {
        min-width: 92px;
    }
}

.dropdown-options {
    display: none;
    max-height: 470px;
    overflow: auto;
    position: absolute;
    z-index: 10;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    background-color: #f9f9f9;
    
    @include tablet {
        max-height: 300px;
    }
}

.dropdown-box:hover .dropdown-options{
    display: block;
}

.dropdown-options a,
.dropdown-options a:visited {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    box-sizing: border-box;
    
    @include large-tablet {
        font-size: 12px;    
    }
    
}

.dropdown-options a:hover {
    background-color: #e8e4d6;
}

.recipe-container .filter-display {
    display: inline-block;
    margin: 0 20px;
    
    @include tablet {
        display: none;
    }
}

.no-recipes-box {
    min-height: 200px;
    padding: 50px 20px 0;
}

.no-recipes-box p {
    font-size: 20px;
    background-color: #e8e4d6;
    border-radius: 20px;
    padding: 10px ;
    max-width: 410px;
    margin: 0 auto;
}

.filter-box-container {
    display: inline-block;    
}

.filter-box {
    margin-left: 50px;
    
    @include large-tablet {
        margin-left: 0px;
    }
}

.sort-box {
    margin-left: 40px;
    
    @include large-tablet {
        margin-left: 20px;
    }
    
    @include tablet {
        margin-left: 0px;
    }
}

.center-recipes {
    text-align: center;
    vertical-align: middle;
    max-width: 1122px;
}

.recipe {
    position: relative;
    box-sizing: border-box;
    width: 330px;
    height: 233px;
    display: inline-block;
    padding: 12px 12px 0;
    background-color: rgb(255, 251, 238);
    @extend %list-item-shadow;
    margin: 10px 10px;
    vertical-align: middle;
    
    @include mobile {
        width: 305px;
        margin: 10px 0;
    }
}

.recipe p {
    color: $black;
    max-width: 148px;
}

.recipe p:nth-of-type(1) {
    font-weight: 600;
}


.recipe a .recipe-row-top,
.ingredient {
    background-color: rgb(232, 228, 214);
    transition: all .5s linear;
}

.recipe a .recipe-row-top:hover {
    background-color: rgb(200, 178, 98);
    transition: all 0s linear;
}

.recipe-row-top {
    display: block;
}

.recipe-row-bottom {
    background-color: #ffefaa;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.recipe-row-bottom button {
    margin: 10px 0;
    position: relative;
    height: 45px;
    width: 136px;
}

a ~ .recipe-row-bottom {
    clear: both;
    height: 66px;
}

.inner-delete-recipe-row form .delete-confirmation-message {
    max-width: 98%;
    margin: 56px auto 20px ;
    padding: 0;
}

.inner-delete-recipe-row .row {
    @extend %centralise-inner-container;
}

.recipe-container .delete-recipe-row {
    position: absolute;
    z-index: 1;
    background-color: $flame-orange;
    width: auto;
    top: 7px;
    bottom: 7px;
    left: 7px;
    right: 7px;
}

.ingredient img {
    width: 85px;
    height: 80px;
    float: left;
    margin-right: 18px;
    
    @include large-mobile {
        float: none;
        display: block;
        margin: 2px auto;
    }
}

.ingredient {
    width: 30%;
    float: left;
    padding: 8px;
    box-sizing: border-box;
    margin: 10px;
    @extend %list-item-shadow;
    
    @include tablet {
        float:none;
        display: inline-block;
        width: 48%;
        margin: 2px;
    }
}

.ingredient p {
    padding: 0;
    margin: 0 0 10px 0;
}

.ingredient p:nth-of-type(1){
    font-weight: 600;
    max-width: 176px;
}

.ingredient-content-container button {
    font-size: 14px;
    margin: 30px 0;
    
    @include tablet {
        font-size: 11px;
        margin: 15px 0;
    }
}

.fa-exclamation-circle {
    color: $alert-red;    
}

.fa-smile {
    color: $add-green;
}

.ingredient a {
    display: inline-block;
    float: right;
}


.ingredient a i {
    font-size: 30px;
    color: $black;
}

.ingredient a i:hover {
    color: $fire-red;
}

.details-container {
    float:left;
    
    @include large-mobile {
        float: none;
        
        p {
            display: block;
            width: 100%;
            text-align: center;
        }
    }
}
// Add / Edit ingredient -----------------------------------------------------------

.add-edit-ingredient-section {
    margin-top: 65px;
    min-height: 750px;
    @extend %centralise-inner-container;
    
    @include large-tablet {
        min-height: 100vh;
    }
}

.add-edit-ingredient-section .container {
    min-width: 900px;
    padding: 30px;
    background-color: $white;
    border-radius: 20px;
    
    @include large-tablet {
        min-width: 650px;
    }
    
    @include tablet {
        min-width: 90%;
        box-sizing: border-box;
        border-radius: 0px;
    }
}

.add-edit-ingredient-section p {
    margin-bottom: 30px;
    margin-top: 10px;
}

.add-edit-ingredient-section .container button {
    float: left;
    margin-left: 0;
}

.add-edit-ingredient-section .container label {
    margin-right: 30px;
}

.text-input {
    width: 80%;
}

.readonly {
    background-color: grey;
    color: white;
}

.add-edit-ingredient-section img {
    width: 360px;
    height: 250px;
    
    @include large-mobile {
        width: 256px;
        height: 200px;
    }
}
// Add_recipe.html -------------------------------------------------------------

.add-recipe-bg {
    top: 0 !important;
}

.add-a-recipe-section {
    margin-top: 65px;
    min-height: 750px;
    @extend %centralise-inner-container;
    
    @include large-tablet {
        min-height: 1068px;
    }
    
    @include tablet {
        margin-top: 58px;
        min-height: 700px;
    }
    
    @include large-mobile {
        min-height: 200px;
    }
}

.add-a-recipe-section .container {
    min-width: 900px;
    padding: 30px;
    background-color: $white;
    border-radius: 20px;
    
    @include large-tablet {
        min-width: 678px;
        padding: 22px;
    }
    
    @include tablet {
        min-width: 90%;
        padding: 20px;
        box-sizing: border-box;
    }
    
    @include large-mobile {
        min-width: 100%;
        border-radius: 0px;
    }
}

.add-a-recipe-section h1,
.add-a-recipe-section .row {
    margin: 20px 0;
}

.add-recipe-list ~ .add-recipe-button-row {
    padding-top: 40px;
    text-align: center;
}

.add-recipe-button-row {
    text-align: center;  
}

.add-recipe-button-row button {
    margin-left: 0;
}

.add-recipe-list .cusine-selection-box {
    width: 33%;
    
    @include tablet {
        width: 80%;
        float: none;
        margin: 0 auto;
    }
    
    @include large-mobile {
        text-align: center;
    }
}

.add-recipe-list .recipe-data-box {
    width: 67%;
    
    @include tablet {
        width: 80%;
        float: none;
        margin: 0 auto;
    }
    
    @include large-mobile {
        width: 100%;
    }
}

.add-recipe-list .recipe-data-box input {
    width: 80%;
}

// view_recipe.html ------------------------------------------------------------

.view-recipe-section,
.edit-recipe-section {
    margin-top: 65px;
    
    @include large-tablet {
        margin-top: 58px;
    }
}
.edit-recipe-section {
    background-color: rgba(0,0,0,.8);
    padding-bottom: 70px;
}

.view-recipe-section .container:nth-of-type(1),
.edit-recipe-section .container:nth-of-type(1) {
    @extend %centralise-inner-container;
    width: 100%;
    max-width: none;
    min-height: 202px;
}

.view-recipe-section .container:nth-of-type(1){
    background-color: $black;
}

.view-recipe-section .container .image-container,
.edit-recipe-section .container .image-container {
    position: relative;
    z-index: 1;
}

.view-recipe-section .container .image-container img,
.edit-recipe-section .container .image-container img {
    height: 350px;
    position: relative;
    top: 1px;
    
    @include large-tablet {
        height: 270px;
    }
    
    @include large-mobile {
        height: 202px;
    }
    
    @include mobile {
        height: 180px;
    }
}

.image-container ~ h1 {
    max-width: 468px;
    text-align: center;
}

.view-recipe-section h1,
.edit-recipe-section h1 {
    position: absolute;
    color: white;
    z-index: 2;
    	text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

.edit-recipe-section h2 {
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    background-color: rgb(232, 228, 214);
    padding: 20px 0;
    border-radius: 20px 20px 0 0;
}

.recipe-details-container {
    position: relative;
    
    @include large-mobile {
        padding: 0 10px;
    }
}

.recipe-details-container img {
    height: 50px;
    float: left;
    
    @include large-mobile {
        margin: 0 auto !important;
    }
}

.recipe-details-container img,
.recipe-details-container h2,
.recipe-details-container p,
.recipe-info-container img,
.recipe-info-container h2,
.recipe-info-container p {
    display: inline-block;
    clear: none;
    margin: 0 20px 0 0;
    
    @include large-tablet {
        margin: 0 10px 0 0;
    }
}

.recipe-info-container p {
    padding: 20px 20px 0;
    margin: 0;
}

.recipe-details-container .recipe-name,
.recipe-info-container .recipe-name {
    max-width: 116px;
}

.recipe-details-container .row,
.recipe-info-container .row {
    @extend %centralise-inner-container;
    justify-content: unset;
    margin: 20px 0;
    
    @include large-tablet {
        justify-content: center;
    }
}

.recipe-details-container .row:nth-of-type(1){
    @include large-mobile {
        display: block;
        
        p {
            line-height: 16px;
            margin-bottom: 5px;
            font-size: 12px;
        }
        
        h2 {
            margin-bottom: 5px;
            font-size: 14px;
        }
    }
}

.recipe-info-container .row p {
    margin-bottom: 2px;
}

.recipe-instructions h2,
.recipe-ingredients h2 {
    float: none;
    width: 100%;
    margin-bottom: 20px;
    
    @include tablet {
        text-align: center;
    }
}

.data {
    @include large-mobile {
        text-align: center;
    } 
}

.data1,
.data2 {
    display: inline-block;
    
    @include large-mobile {
        display: block;
        
        h2, p {
            float: none;
        }
    }
}

.recipe-instructions p,
.recipe-instructions th,
.recipe-instructions td,
.recipe-ingredients p,
.ingredients-table-header th,
.ingredients-table-header td,
.inserted-ingredient-row th,
.inserted-ingredient-row td {
    text-align: left;
    padding: 0;
    margin: 0 20px 10px 0;
    display: inline-block;
    width: 150px;
}

.recipe-instructions td:nth-of-type(1),
.recipe-instructions th:nth-of-type(1) {
    min-width: 50px;
    width: 50px;
    
    @include large-mobile {
        min-width: 25px;
        width: 25px;
    }
}

.recipe-details-container .instructions-and-ingredients {
    align-items: normal;
    
    @include large-tablet {
        display: block;
    }
}

.instructions-and-ingredients .instructions-row,
.instructions-and-ingredients .ingredients-row {
    display: inline-block;
    box-sizing: border-box;
    padding-top: 20px;
    
    @include large-tablet {
        display: block;
        width: 80%;
        margin: 0 auto;
    }
    
    @include large-mobile {
        padding-top: 5px;
        width: 90%;
    }
}

.instructions-row {
    width: 55%;
    @include large-tablet {
        border-bottom: solid 1px #9a9a9a;
    }
}

.ingredients-row {
    width: 40%;
    border-left: solid 1px #9a9a9a;
    padding-left: 40px;
    
    @include large-tablet {
        border-left: none;
        padding-left: 0px;
    }
}

.recipe-instructions th,
.ingredients-table-header th {
    color: $fire-red;
}

.recipe-instructions td:nth-of-type(2){
    width: unset;
}

.inserted-ingredient-row td:nth-of-type(3){
    width: 50px;
}

.ingredients-table-header td,
.inserted-ingredient-row th,
.inserted-ingredient-row td {
     font-size: 14px;
     letter-spacing: 2px;
}

.ingredients-table-header th {
    font-size: 16px;
    letter-spacing: 0.5px;
}

.recipe-instructions .no-details-row,
.no-details-row {
    width: 100%;
    letter-spacing: 0.5px;
    font-size: 16px;
}

.recipe-ingredients .no-ingredients-row td,
.recipe-instructions .no-instructions-row td {
    width: 100%;
    white-space: normal;
    margin-bottom: 38px;
}

.view-recipe-section ~ .reviews-section {
    margin: 20px auto;
    padding-bottom: 20px;
    min-height: 25vh;
    
    .reviews-section-row {
        width: 80%;
        margin: 0px auto;
    }
}

.recipe-details-container .review-heading {
    display: block;
    margin-bottom: 20px;
}

.user-new-review form {
    width: 100%;
    
    @include large-mobile {
        text-align: center;
    }
    
    button {
        margin-bottom: 20px;
    }
    
}
    
.user-new-review input {
    font-size: 18px;
    width: 50%;
    height: 50px;
    text-align: center;
    margin: 40px 0;
    
    @include large-mobile {
        width: 80%;
    }
}

.user-new-review input:nth-of-type(2) {
    width: 10%;
    
    @include large-mobile {
        width: 15%;
    }
}

.reviews-table,
.reviews-table-header {
    width: 100%;
    
    tr {
        height: 50px;
    }
}

.reviews-table-header {
    display: none;
    
    th, td {
        text-align: left;
        min-width: 100px;
    }
    
    th:nth-of-type(1), td:nth-of-type(1) {
        min-width: 50%;
    }
    
    th {
        color: $fire-red;
    }
    
    th:nth-of-type(2), td:nth-of-type(2) {
        
        @include large-mobile {
            min-width: 20px;    
        }
    }
}

.please-wait-container {
    position: absolute;
    z-index: 1;
    height: 160px;
    width: 100%;
    background-color: $black;
    color: $white;
    @extend %centralise-inner-container;
    flex-direction: column;
    
    @include large-mobile {
        height: 190px;
    }
    
    p, i {
        font-size: 40px;
        padding: 16px;
    }
}

// Edit Recipes ----------------------------------------------------------------

.edit-recipe-bg {
    @extend %cover-background;
}

.pg-header-container {
    margin: 20px 0 10px;
}

.edit-recipe-container .row label {
    width: 210px;
    display: inline-block;
    margin-left: 0px;
    
    @include large-tablet {
        width: 100px;
    }
    
    @include tablet {
        width: 80%;
        display: block;
    }
}

.edit-recipe-section table {
    width: 100%;
}

.edit-recipe-container input {
    width: 300px;
    margin-right: 20px;
    
    @include large-tablet {
        width: 283px;
    }
    
    @include large-mobile {
        width: 250px;
    }
}

.edit-recipe-container .ingredient-box {
    @include large-tablet {
        width: 257px;
    }
    
    @include large-mobile {
        width: 237px;
    }
}

.recipe-details-1,
.recipe-details-2,
.recipe-details-3 {
    margin: 50px 0;
    background-color: $white;
    @extend %list-item-shadow;
    border-radius: 20px;
    
    @include tablet {
        margin: 30px 0;
    }
}

.recipe-details-3 {
    margin-bottom: 0;
}

.recipe-details-2 {
    padding-bottom: 10px;
}

.recipe-details-1 .content-row {
    display: flex;
    align-items: center;
    
    @include tablet {
        display: block;
    }
}

.recipe-details-1 .photo-url input {
    width: 600px;
    
    @include large-tablet {
        width: 479px;
    }
    
    @include tablet {
        width: 286px;
    }
}

.recipe-details-1 .photo-url i {
    margin: 0;
}

.edit-recipe-container button {
    margin-left: 0;
}

.edit-recipe-container hr {
    margin: 21px 0;
}

.add-ingredient-container a {
    font-size: 12px;
}

.recipe-details-2 table,
.recipe-details-3 table {
    margin-bottom: 30px;
}

.fa-plus-square,
.fa-minus-square {
    font-size: 40px;
    cursor: pointer;
}
.fa-plus-square {
    color: $add-green;
}

.fa-minus-square {
    color: $remove-red;
}

.ingredient-box {
    margin-right: 20px;
}

.ingredient-box option {
    background-color: rgb(255, 251, 238);
    border: 1px 0 solid $white;
}

.inserted-ingredient-row {
    display: flex;
    align-items: center;
    background-color: $white;
    margin: 1px 10px;
    padding: 5px;
    
    @include large-mobile {
        margin: 0;
        padding: 0;
        min-height: 45px;
    }
}

.inserted-ingredient-row .hide-on-mobile {
    margin-right: 280px;
    
    @include large-tablet {
        margin-right: 202px;
    }
    
    @include tablet {
        margin-right: 98px;
    }
}

.ingredients-table-header th,
.inserted-ingredient-row td {
    margin: 0;
    width: 160px;
    
    @include large-tablet {
        width: 155px;
    }
    
    @include tablet {
        width: 95px;
    }
    
    @include large-mobile {
        width: 40%;
    }
}

.inserted-ingredient-row td:nth-of-type(4) {
    width: 50px;
}

td > img {
    width: 50px;
    height: 50px;
}

.new-ingredient-container input {
    margin-right: 68px;
    
    @include large-tablet {
        margin-right: 10px;
    }
}

.recipe-details-2 .instructions-table-header th:nth-of-type(1),
.recipe-details-2 .new-instructions-container input:nth-of-type(1),
.recipe-details-2 .inserted-instruction-row td:nth-of-type(1) {
    width: 92px;
    text-align: center;
    
    @include tablet {
        width: 56px;
    }
    
    @include large-mobile {
        width: 40px;
    }
}

.recipe-details-2 .instructions-table-header th {
    display: inline-block;
    float: none;
    padding-bottom: 20px;
    color: $fire-red;
}

.recipe-details-2 .new-instructions-container input:nth-of-type(1) {
    border-radius: 50%;
    text-indent: 16px;
    font-size: 13px;
    width: 56px;
    
    @include large-mobile {
        text-indent: 3px;
    }
}

.recipe-details-2 .new-instructions-container input,
.recipe-details-2 .new-instructions-container textarea {
    border-color: #e8e4d6;;
    border-width: 1px;
    border-style: solid;
}

.new-instructions-container {
    display: flex;
    align-items: center;
}

.new-instructions-container textarea {
    min-width: 654px;
    margin: 15px 10px 15px 15px;
    
    @include large-tablet {
        min-width: 473px;
        margin-left: 0;
        margin-right: 14px;
    }
    
    @include tablet {
        min-width: 259px;
    }
    
    @include large-mobile {
        min-width: 136px;
    }
}

.new-instructions-container input,
.new-instructions-container textarea {
    height: 52px;
    letter-spacing: 1px;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    
    @include large-mobile {
        font-size: 11px;
    }
}

.instructions-table-header th {
    float: left;
}

.recipe-details-2 .inserted-instruction-row td:nth-of-type(2){
    width: 650px;
    margin: 0 20px 0 0;
    word-wrap: break-word;
    
    @include large-tablet {
        width: 460px;
    }
    
    @include tablet {
        width: 280px;
    }
    
    @include large-mobile {
        width: 175px;
    }
}

.recipe-instructions .inserted-instruction-row,
.recipe-instructions .inserted-ingredient-row {
    display: flex;
    align-items: center;
    min-height: 45px;
    background-color: $white;
    font-size: 16px;
}

.instructions-list-table,
.ingredients-list-table {
    display: none;
    width: 100%;
    
    @include large-mobile {
        width: 100%;
    }
}

.recipe-existing-instructions,
.recipe-existing-ingredients {
    min-height: 250px;
    max-height: 250px;
    overflow: auto;
}

.section-1-data, 
.section-2-data,
.section-3-data,
.add-new-ingredient-container,
.add-instructions-container {
    padding: 20px;
    width: 90%;
    margin: 0 auto;
    
    @include large-mobile {
        padding: 15px;
    }
}

.recipe-details-2 .add-instructions-container {
    @include large-mobile {
        padding: 5px;
    }
}

.edit-recipe-container .recipe-details-1,
.edit-recipe-container .recipe-details-2,
.edit-recipe-container .recipe-details-3 {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.edit-recipe-container input,
.edit-recipe-container select {
    font-size: 18px;
}

.add-ingredient-container a {
    margin: 10px 0 0;
}

.add-new-ingredient-container-section-1,
.add-instructions-container {
    background-color: #fffbee;
    padding: 20px;
    margin-bottom: 20px;
}

.inserted-instruction-row,
.inserted-ingredient-row {
    display: flex;
    justify-contents: center;
    align-items: center;
        
        td {
            padding: 0;
        }
}

// Profile Section -------------------------------------------------------------

.profile-section {
    margin-top: 65px;
    min-height: 750px;
    @extend %centralise-inner-container;
    
    @include large-tablet {
        width: 90%;
        margin: 0 auto;
        padding: 80px 0 20px;
        min-height: 100vh;
    }
    
    @include tablet {
        width: 100%;
        margin: 0 ;
        padding: 60px 0 0;
        min-height: 0px;
    }
}

.profile-section img {
    width: 300px;
}

.profile-section .container {
    background-color: $white;
    padding: 30px;
    border-radius: 20px;
    min-width: 860px;
    
    @include large-tablet {
        min-width: 650px;
    }
    
    @include tablet {
        min-width: 0;
        width: 100%;
        padding: 10px;
        border-radius: 0;
    }
}

.user-data {
    padding: 20px;
}

.user-data label {
    display: block;
}

.data-container {
   float: left; 
   margin: 0 20px 0 0;
   
   @include tablet {
       float: none;
       width: 43%;
       box-sizing: border-box;
       display: inline-block;
   }
   
   @include large-mobile {
       width: 100%;
   }
}

.data-container ~ label {
    @include large-tablet {
        clear: both;
    }
}

.user-photo-input {
    width: 90%;
    
    @include large-tablet {
       width: 79%;
   }
    
    @include tablet {
        width: 85%;
    }
}

.user-data input {
    font-size: 18px;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1px;
    margin: 15px 0;
    min-width: 230px;
    
    @include tablet {
       width: 86%;
       min-width: 0;
   }
}

// Head Chef Section -----------------------------------------------------------

.head-chefs-section {
    
    .container, 
    .outer-container {
        min-height: 50vh;
        text-align: center;
    }
    
    .container {
        padding-bottom: 40px;
        
        .para-container {
            color: $white;
            width: 80%;
            margin: 0 auto;
        }
        
        p {
            padding: 10px;
            font-size: 23px;
            line-height: 34px;
        }
    }
    
    .table-container {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 200px;
        
        tr {
            color: $white;
        }
        
        table {
            margin-top: 30px;
            background-color: $black;
            border-radius: 20px;
            min-width: 80%;
            max-width: 98%;
        }
        
        tr, td, th {
            padding: 14px;
        }
        
        th {
            color: $white;
            padding-top: 30px;
        }
        
        tr:nth-of-type(2) {
            font-size: 1.6em;
            color: $fire-red;
            
            @include tablet {
                font-size: 1.3em;
            }    
        }
        
        tr:nth-of-type(3) {
            font-size: 1.2em;
            color: $flame-orange;
            
            @include tablet {
                font-size: 1.3em;
            }    
        }
        
        tr:nth-of-type(4) {
            font-size: 1.2em;
            color: $flame-yellow;
            
            @include tablet {
                font-size: 1.1em;
            }    
        }
        
        tr:last-of-type td{
            padding-bottom: 48px;    
        }
        
        @include tablet {
            th:nth-of-type(2),
            td:nth-of-type(2),
            th:nth-of-type(3),
            td:nth-of-type(3){
                max-width: 72px;
            }
        }
    }
    
}