.leaderboard-intro-bg,
.sign-up-bg,
.log-in-bg,
.recipes-bg,
.ingredients-bg {
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: -1;
    top: 0px;
    @extend %cover-background;
    transition-property: transform;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier;
}

.home-image {
    background-image: url('../images/bbq.jpg');
}

.profile-img {
    background-image: url('../images/food-board.jpg');
}

.recipes-bg {
    background-image: url('../images/bobby-rodriguezz-1052701-unsplash.jpg');
    background-position: bottom;
}

.view-recipe-bg {
    background-image: url('../images/food2.jpg');
}

.ingredients-bg {
    background-image: url('../images/ingredients-bg.jpg');
}

.leaderboard-intro-bg {
    background-image: url('../images/elli-o-65548-unsplash.jpg');
}

.sign-up-bg {
    background-image: url('../images/ali-yahya-270126-unsplash.jpg');
}

.log-in-bg {
    background-image: url('../images/simple-322427-unsplash.jpg');
}