// Home page -------------------------------------------------------------------

.welcome-message-section {
    min-width: 1240px;
    background-color: $black;
}

.welcome-message-section .welcome-message,
.welcome-message-section img {
    float: left;
    box-sizing: border-box;
    height: 100vh;
    min-width: 600px;
}

.welcome-message-section img {
    width: 54%;
}

.welcome-message {
    @extend %centralise-inner-container;
    width: 46%;
}

.welcome-message-content {
    width: 58%;
}

.welcome-message-content h1 {
    font-size: 62px;
    margin: 30px 0;
    color: $white;  /* Fallback: assume this color ON TOP of image */
    background: url(../images/fire.jpg) no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.welcome-message-content h1,
.welcome-message-content h3 {
    color: $white;
    letter-spacing: 5px;
}

.welcome-message-content h3 {
    font-size: 24px;
}

.welcome-message-content p {
    color: $white;
    font-size: 15px;
    line-height: 28px;
    font-family: 'Oswald', sans-serif;
}

.welcome-message-content button {
    margin-left: 0;
    margin-top: 76px;
}

.welcome-sentence {
    padding: 100px 0;
}

.welcome-sentence p {
    padding: 0;
    font-size: 18px;
    line-height: 2.4;
}

.welcome-sentence span {
    color: $fire-red;
        font-weight: 600;
}

.welcome-sentence,
.ingredients-intro-section {
    background-color: $white;
}

.recipes-intro-content p,
.ingredients-intro-section p {
    max-width: 640px;
    font-size: 18px;
    color: $grey-para-text;
    line-height: 2.4;
    letter-spacing: 0;
}

.recipes-intro-content img {
    width: 100%;
    margin: 0;
    padding: 0;
    display: block;
    float: left;
}

.recipes-intro-content .pic-overlay {
    position: absolute;
    width: 50%;
    background-color: rgba(30,30,0,.15);
}

.recipes-intro-content .pic-overlay,
.recipes-intro-content img,
.recipes-intro-section .right {
    height: 750px;
}

.recipes-intro-content .right a,
.ingredients-intro-content p ~ a {
    font-weight: 600;
    color: $fire-red;
}

.ingredients-intro-content a {
    display: block;
    margin-top: 42px;
}

.left,
.right {
    float: left;
    @extend %centralise-inner-container;
}

.recipes-intro-section .left {
    width: 50%;
}

.recipes-intro-section .right {
    background-color: $black;
    color: $white;
    width: 50%;
}

.ingredients-intro-section {
    padding: 100px 0;
    width: 100%;
}

.ingredients-intro-section .container {
    max-width: 1122px;
    margin: 0 auto;
}

.ingredients-intro-section img {
    height: 400px;
    width: 250px;
    margin: 0 20px;
}

.ingredients-intro-section .left {
    justify-content: left;
}

.ingredients-intro-section .left,
.ingredients-intro-section .right {
    width: 50%;
}

.ingredients-intro-content {
    width: 80%;
}

.ingredients-intro-content p {
    color: #060606;
}

.fire-text-quote {
    background-color: $black;
    width: 100%;
    height: 600px;
    @extend %centralise-inner-container;
}


.fire-text-quote div {
    max-width: 60%;
    margin: 0 auto;
}

.fire-text-quote p {
    color: $white;  /* Fallback: assume this color ON TOP of image */
    background: url(../images/fire.jpg) no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 46px;
    line-height: 60px;
}

.fire-text-quote p:nth-of-type(2){
    color: $white;
    background: none;
    -webkit-text-fill-color: $white;
    font-size: 30px;
    letter-spacing: 0;
}

.leaderboard-intro-section {
    width: 100%;
    height: 700px;
    @extend %centralise-inner-container;
    background-color: rgba(0,0,0,.4);
}

.leaderboard-intro-content-container {
    color: $white;
    width: 76%;
}

.fa-file-alt {
    font-size: 200px;
    color: $white;
}

// Sign-up / Sign-in -----------------------------------------------------------

.sign-up-section,
.log-in-section {
    margin-top: 65px;
    min-height: 800px;
    @extend %centralise-inner-container;
    background-color: rgba(100,100,70,.4);
}

.sign-up-section-content,
.sign-up-form-container,
.log-in-section-content,
.log-in-form-container {
    color: $black;
    background-color: $white;
}

.sign-up-section-content {
    border-radius: 26px 26px 0 0;
}

.log-in-section-content,
.sign-up-section-content {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px 0 50px;
    box-sizing: border-box;
}

.log-in-form-container,
.sign-up-form-container {
    padding: 0px 0 20px;
    border-radius: 0 0 26px 26px;
}

.sign-up-section-content p,
.log-in-section-content p {
    padding: 30px 38px 0;
    font-size: 12px;
}

.sign-up-form-container input,
.log-in-form-container input {
    font-size: 12px;
    width: 50%;
}

.chef-gif {
    position: relative;
    width: 400px;
    top: 2px;
}

// Profile page ----------------------------------------------------------------

.profile-pic {
    width: 294px;
    height: 200px;
    margin: 0 auto 30px;
    display: block;
}

.profile-img~.profile-section {
    padding: 20px;
    background-color: rgba(255, 235, 0, .8);
    margin: 50px auto;
    border-radius: 14px;
}

.profile-section .row {
    margin: 30px auto 0;
}

.profile-section .row:nth-of-type(2) {
    margin: 15px auto;
}

.profile-section .new-user-form label {
    color: $black;
    float: left;
    padding: 34px 0 0;
    width: 300px;
}

.profile-section .new-user-form .picture-input {
    width: 660px;
}

.profile-section .new-user-form input {
    width: 400px;
}

.user-photo-instructions {
    display: none;
    border: 9px solid $black;
    position: absolute;
    height: 189px;
    width: 394px;
    right: 20vw;
    text-align: center;
    top: 15vh;
    background-color: white;
    color: black;
    padding: 38px;
}

.user-photo-instructions-btn {
    font-size: 40px;
    margin-left: 24px;
    color: $question-dark-blue;
    cursor: pointer;
}

.photo-instructions-header,
.photo-instructions-para {
    padding: 5px;
    margin: 10px;
    font-size: 14px;
    letter-spacing: 0px;
}

.photo-instructions-header {
    letter-spacing: 3px;
    margin-top: 0;
}

// Recipes.html ----------------------------------------------------------------

.recipe-section {
    margin-top: 65px;
}

.recipe-section .container {
    background-color: $white;
    width: 100%;
    max-width: none;
}

.recipes-header-container {
    height: 400px;
    @extend %centralise-inner-container;
}

.recipes-header-container h1 {
    color: $white;
    letter-spacing: 7px;
}

.recipe-container {
    background-color: $white;
    max-width: 1122px;
    margin: 0 auto;
}

.recipe-content-container {
    background-color: $black;
    color: $white;
    padding: 8px 0;
    margin: 0 auto 54px;
    position: sticky;
    top: 65px;
    z-index: 3;
}

.recipe-container img {
    width: 160px;
    height: 150px;
    float: left;
}

.recipe {
    margin: 10px 10px 10px 0;
    width: 30%;
    float: left;
    padding: 12px;
    background-color: rgb(255, 251, 238);
    -webkit-box-shadow: 3px 6px 17px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 6px 17px -5px rgba(0,0,0,0.75);
    box-shadow: 3px 6px 17px -5px rgba(0,0,0,0.75);
}

.recipe p {
    color: $black;
    max-width: 148px;
}

.recipe p:nth-of-type(1) {
    font-weight: 600;
}

.recipe-details-container {
    padding: 5px 0 0 25px;
    display: inline-block;
}

.recipe a .recipe-row-top {
    background-color: rgb(255, 251, 238);
    transition: all 1s linear;
}

.recipe a .recipe-row-top:hover {
    background-color: rgb(232, 228, 214);
}

.recipe-row-top,
.recipe-row-bottom {
    display: block;
}

a ~ .recipe-row-bottom {
    clear: both;
    height: 60px;
    @extend %centralise-inner-container;
}

.recipe-row-bottom button {
    margin: 10px 5px;
}

.inner-delete-recipe-row form .delete-confirmation-message {
    max-width: 98%;
    margin: 56px auto 20px ;
    padding: 0;
}

.inner-delete-recipe-row .row {
    @extend %centralise-inner-container;
}

.recipe-container .delete-recipe-row {
    position: absolute;
    z-index: 1;
    background-color: $flame-orange;
    width: 336px;
    height: 220px;
}

// Ingredient lists --------------------------------------------------



// Edit ingredients -----------------------------------------------------------

// Edit Recipes ----------------------------------------------------------------

// Add_recipe.html -------------------------------------------------------------

// view_recipe.html ------------------------------------------------------------

