.leaderboard-intro-bg,
.sign-up-bg,
.log-in-bg,
.recipes-bg,
.ingredients-bg,
.profile-img,
.edit-add-ingredient-bg,
.add-recipe-bg {
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: -1;
    top: 0px;
    @extend %cover-background;
    transition-property: transform;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier;
    
}

.home-image {
    background-image: url('../images/bbq.jpg');
}

.profile-img {
    background-image: url('../images/fancycrave-458022-unsplash.jpg');
}

.recipes-bg {
    background-image: url('../images/bobby-rodriguezz-1052701-unsplash.jpg');
    background-position: bottom;
}

.ingredients-bg {
    background-image: url('../images/ingredients-bg.jpg');
}

.leaderboard-intro-bg {
    background-image: url('../images/elli-o-65548-unsplash.jpg');
}

.sign-up-bg {
    background-image: url('../images/ali-yahya-270126-unsplash.jpg');
}

.log-in-bg {
    background-image: url('../images/simple-322427-unsplash.jpg');
}

.edit-add-ingredient-bg {
    background-image: url('../images/adils-photography-419432-unsplash.jpg');
}

.add-recipe-bg,
.edit-recipe-bg {
    background-image: url('../images/adils-photography-419432-unsplash.jpg');
    top: 0 !important;
}