.home-image {
    background-image: url('../images/bbq.jpg');
}

.profile-img {
    background-image: url('../images/food-board.jpg');
}

.recipes-bg {
    background-image: url('../images/grill.jpg');
}

.view-recipe-bg {
    background-image: url('../images/food2.jpg');
}

.ingredients-bg {
    background-image: url('../images/ingredients-bg.jpg');
}

.leaderboard-intro-bg {
    background-image: url('../images/elli-o-65548-unsplash.jpg');
}