{% extends 'base.html' %} {% block content %}

<div class="container">
    <div class="row">
        <h1>Add a Recipe</h1>
    </div>
    <div class="row">
        <p>Here is your chance to shine!  Share those amazing home recipes with the World and see what they think!</p> 
        <p>Please enter the details of your recipe in the boxes below...</p>
    </div>
    <div class="row">
        <form action="{{  }}" method="POST">
            <div class="row">
                <ul class="new-user-form">
                    <li><label for="ingredient_name">Ingredient Name</label></li>
                    <li><input id="ingredient_name" name="ingredient_name" type="text" required></li>
                    <hr>
                    <li><label for="ingredient_image_url">Ingredient Photo Image Address</label></li>
                    <li><input id="ingredient_image_url" name="ingredient_image_url" type="text" required></li>
                    <hr>
                    <div class="switch">
                        <label>
                        <input id="allergens" name="allergens" type="checkbox">
                        <span class="lever"></span>Contains Allergens?
                    </label>
                    </div>
                    <hr>
                    <button type="submit">Submit</button>
                </ul>
            </div>
        </form>
    </div>
</div>

{% endblock %}
