{% extends 'base.html' %} {% block content %} 

<div class="container">
    <div class="row">
        <h2>Add an Ingredient</h2>
    </div>
    <div class="row">
        <p>Please enter the details of the ingredient you would like to add...</p>
    </div>
    <div class="row">
        <form action="{{ url_for('insert_ingredient', recipe_id=recipe_id) }}" method="POST">
            <div class="row">
                <ul class="new-user-form">
                    <li><label for="ingredient_name">Ingredient Name</label></li>
                    <li><input id="ingredient_name" name="ingredient_name" type="text" required></li>
                    <hr>
                    <li><label for="ingredient_image_url">Ingredient Photo Image Address</label></li>
                    <li><input id="ingredient_image_url" name="ingredient_image_url" type="text" required></li>
                    <hr>
                    <div class="switch">
                        <label>Contains Allergens?</label>
                        <input id="allergens" name="allergens" type="checkbox">
                    </div>
                    <hr>
                    <button type="submit">Submit</button>
                </ul>
            </div>
        </form>
        <div class="row">
            {% if recipe_id == "none" %}
            <a href="{{ url_for( 'ingredients', username=username) }} " class="edit-recipe-btn ">
                <button>Go back</button>
            </a>
            {% else %}
            <a class="edit-recipe-btn" href="{{ url_for('edit_recipe', recipe_id=recipe_id) }}">
                <button>Cancel</button>
            </a>
        {% endif %}
        </div>
    </div>
</div>

{% endblock %}
