{% extends 'base.html' %} {% block content %} 

<div class="container">
    <div class="row">
        <h1>Add an Ingredient</h1>
    </div>
    <div class="row">
        <p>Please enter the details of the ingredient you would like to add...</p>
    </div>
    <div class="row">
        <form action="{{ url_for('insert_ingredient') }}" method="POST">
            <div class="row">
                <ul class="new-user-form">
                    <li><label for="ingredient_name">Ingredient Name</label></li>
                    <li><input id="ingredient_name" name="ingredient_name" type="text" required></li>
                    <hr>
                    <li><label for="ingredient_image_url">Ingredient Photo Image Address</label></li>
                    <li><input id="ingredient_image_url" name="ingredient_image_url" type="text" required></li>
                    <hr>
                    <div class="switch">
                        <label>Contains Allergens?</label>
                        <input id="allergens" name="allergens" type="checkbox">
                    </div>
                    <hr>
                    <button type="submit">Submit</button>
                </ul>
            </div>
        </form>
    </div>
</div>

{% endblock %}
