<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Flame & Sizzle - {{ page_title }}</title>
    
    <link href="https://fonts.googleapis.com/css?family=Oswald:400,700|Mukta+Malar:400,900" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fontawesome-free/css/all.min.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <nav class="uppercase">
            <a href="{{ url_for('index') }}">
                <img class="logo grow" src="{{ url_for('static', filename='images/flame-sizzle-logo.gif') }}" alt="Company logo - flames">
            </a>
            <i class="far fa-caret-square-down"></i>
            <ul class="dropdown-menu">
                {% if username == "guest" %}
                <li class="grow"><a href="{{ url_for('sign_up') }}"><i class="fas fa-user-plus nav-icon"></i>Sign Up</a></li>
                <li class="grow"><a href="{{ url_for('log_in') }}"><i class="fas fa-sign-in-alt nav-icon"></i>Log In</a></li>
                {% endif %}
                <li class="grow"><a href="{{ url_for('recipes', username=username) }}"><i class="fas fa-utensils nav-icon"></i>Recipes</a></li>
                <li class="grow"><a href="{{ url_for('ingredients', username=username) }}"><i class="far fa-lemon nav-icon"></i>Ingredients</a></li>
                <li class="grow"><a href="{{ url_for('head_chefs', username=username) }}"><i class="fas fa-fire nav-icon"></i>Head Chefs</a></li>
                {% if username != "guest" %}
                <li class="grow"><a href="{{ url_for('profile', username=username) }}"><i class="fas fa-user nav-icon"></i>Profile</a></li>
                <li class="grow"><a href="{{ url_for('logout') }}"><i class="fas fa-sign-out-alt nav-icon"></i>Logout</a></li>
                {% endif %}

                
            </ul>
        </nav>
    </header>
    <div class="round-pop-up-container hidden-div hide-me">
        <div class="row center-text">
            <p class="flashed-message center-div">
                {{ message }}
            </p>
        </div>
        <div class="row">
            <button class="hide-me-btn center-div pop-up-btn no-float">Close</button>
        </div>
    </div>
    
    {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
    <div class="hide-me round-pop-up-container no-float">
        <div class="row center-text">
            <p class="flashed-message center-div">
                {{ message }}
            </p>
        </div>
        <div class="row">
            <button class="hide-me-btn center-div pop-up-btn no-float">Close</button>
        </div>
    </div>
    {% endfor %} {% endif %} {% endwith %}
    
    {% block content %}
    {% endblock %}
    <footer>
        <div class="container">
            <div class="footer-item">
                <h4>About us</h4>
                <p>We are a website for a project.  Please enjoy!</p>
            </div>
            <div class="footer-item">
                <h4>Contact Information</h4>
                <p>Just ring us!</p>
            </div>
            <div class="footer-item">
                <h4>Partners</h4>
                <p>Here's a word from our sponsors... "Regulatory"</p> 
            </div>
        </div>
    </footer>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/scripts/main.js') }}"></script>

</body>
</html>