<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cook for Cookies - {{ page_title }}</title>
    
    <link href="https://fonts.googleapis.com/css?family=Oswald:400,700|Mukta+Malar:400,900" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fontawesome-free/css/all.min.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <nav>
            <a href="{{ url_for('home') }}">
                <div class="logo">Cook for Cookies</div>
            </a>
            <ul>
                {% if username != "guest" %}
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
                <li><a href="{{ url_for('profile', username=username) }}">Profile</a></li>
                {% endif %}
                <li>Cookies Leaderboard</li>
                <li><a href="{{ url_for('ingredients', username=username) }}">Ingredients</a></li>
                <li><a href="{{ url_for('recipes', username=username) }}">Recipes</a></li>
                {% if username == "guest" %}
                <li><a href="{{ url_for('log_in') }}">Log In</a></li>
                <li><a href="{{ url_for('sign_up') }}">Sign Up</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    
    {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
    <div class="hide-me round-pop-up-container">
        <div class="row center-text">
            <p class="flashed-message center-div">
                {{ message }}
            </p>
        </div>
    <div class="row">
        <button class="hide-me-btn center-div">Close</button>
    </div>
</div>
{% endfor %} {% endif %} {% endwith %}
    
    {% block content %}
    {% endblock %}
    
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>
</html>