{% extends 'base.html' %} {% block content %}

<div class="container">
    <div class="row">
        <h1>Edit an Ingredient</h1>
    </div>
    <div class="row">
        <p>Please update the details of this ingredient if needed...</p>
    </div>
    <div class="row">
        <form action="{{ url_for('update_ingredient', ingredient_id=ingredient._id) }}" method="POST">
            <div class="row">
                <ul class="new-user-form">
                    <li><label for="ingredient_name">Ingredient Name</label></li>
                    <li><input id="ingredient_name" name="ingredient_name" value="{{ ingredient.ingredient_name.title() }}" readonly></li>
                    <hr>
                    <li><label for="ingredient_image_url">Ingredient Photo Image Address</label></li>
                    <li><input id="ingredient_image_url" name="ingredient_image_url" type="text" value="{{ ingredient.ingredient_image_url }}" required></li>
                    <li><img class="edit-ingredient-img" src="{{ ingredient.ingredient_image_url }}"></img>
                    </li>
                    <hr>
                    <div class="switch">
                        <label class="">Allergen? 
                            {% if ingredient.allergens %}
                            <input type="checkbox" name="allergens" id="allergens" checked><span class="slider"></span>
                            {% else %}
                            <input type="checkbox" name="allergens" id="allergens"><span class="slider"></span>
                            {% endif %}
                        </label>
                    </div>
                    <hr>
                    <button class="update-ingredient-btn" type="submit">Update Ingredient</button>
                    <a href="{{ url_for( 'ingredients') }} " class="center-text">
                        <span class="go-back-btn div-btn">Go back</span>
                    </a>
                </ul>
            </div>
        </form>
    </div>
</div>

{% endblock %}
