{% extends 'base.html' %} {% block content %} 

<div class="container">
    <h1>Welcome to Cook for Cookies</h1>

    <p>This is a recipes website with a difference.</p>
    <p>You can add your own recipes and other people can try them and provide a review.</p>
    <p>Each review will be scored between 0 - 5 cookies which will accumulate for every recipe you add.</p>
    <p>Will you be cookie king or queen on our leaderboard?!</p>

    {% if username == "guest" %}
    <button><a href="{{ url_for('sign_up') }}">Sign Up</a></button>
    <button><a href="{{ url_for('log_in') }}">Log In</a></button> 
    {% endif %}
    <button>Go to recipes</button>
</div>
{% endblock %}
