{% extends 'base.html' %} {% block content %}

<div class="container">
    <div class="sticky-div">
        <h1>Ingredients list</h1>

        <p>Please add any ingredients that are in your recipe but not on our list!</p>

        <ul>
            <li class="list-headings">
                <label class="ingredient-list-item" for="">Image</label>
                <label class="ingredient-list-item" for="">Ingredient Name</label>
                <label class="ingredient-list-item center-text" for="">Contains Allergen?</label>
            </li>
        </ul>
    </div>
    <ul>
        {% for ingredient in ingredients_list %}
        <li class="clear-float ingredient-row">
            <div class="ingredient-list-item">
                <img class="ingredient-img" src="{{ ingredient.ingredient_image_url }}"></img>
            </div>
            <p class="ingredient-list-item">{{ ingredient.ingredient_name.title() }}</p>
            <label class="ingredient-list-item  center-text">
            {% if ingredient.allergens %}
                <i class="fas fa-exclamation-circle"></i>
            {% else %}
                <i class="fas fa-smile"></i>
            {% endif %}
            </label>
            <button><a href="{{ url_for('edit_ingredient', ingredient_id=ingredient._id) }}">Edit Ingredient</a></button>
        </li>
        {% endfor %}
        <li class="clear-float">Need to add an ingredient?</li>
        <button><a href="{{ url_for('add_ingredient', recipe_id='none') }}">Add Ingredient</a></button>
    </ul>

</div>
{% endblock %}
