{% extends 'base.html' %} {% block content %}
<div class="page-bg ingredients-bg"></div>
<section class="container standard-section-height">
    <div class="sticky-div ingredients-header-box">
        <h2 class="section-title flame">Ingredients list</h2>

        <p>Please add any ingredients that are in your recipe but not on our list!</p>
        <h3 class="clear-float">Need to add an ingredient?</h3>
        <a href="{{ url_for('add_ingredient', recipe_id='none') }}"><button>Add Ingredient</button></a>

    </div>
    <div class="ingredients-container container">
        {% for ingredient in ingredients_list %}
        <div class="ingredient-list-item">
            <div class="row">
                <img class="ingredient-img" src="{{ ingredient.ingredient_image_url }}"></img>
                <p class="ingredient-name">{{ ingredient.ingredient_name.title() }}</p>
            </div>
            <div class="row">
                <p>Contains Allergens?</p> 
                {% if ingredient.allergens %}
                <i class="fas fa-exclamation-circle"></i> 
                {% else %}
                <i class="fas fa-smile"></i> 
                {% endif %}
                <a href="{{ url_for('edit_ingredient', ingredient_id=ingredient._id) }}"><button>Edit Ingredient</button></a> 
            </div>    
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}
