{% extends 'base.html' %} {% block content %}
<div class="log-in-bg"></div>
<section class="log-in-section no-overflow">
    <div class="container">
        <img class="chef-gif" src="{{ url_for('static', filename='images/chef.webp') }}" alt="A Chef from the muppet show hitting pans with a spoon">
        <div class="log-in-section-content center-text">
            <h2 class="section-title uppercase">Log in!</h2>
            <p>Already a member? Great news!</p>
            <p>What are you waiting for?! Pop on your chef hat and get cooking...</p>
        </div>
        <div class="log-in-form-container center-text">
            <form action="{{ url_for('log_in') }}" method="POST">
                <div class="row">
                    <ul class="log-in-form">
                        <li><input id="email" name="email" type="email" placeholder="Email"></li>
                        <li><input id="password" name="password" type="password" placeholder="Password"></li>
                    </ul>
                    <button class="no-float log-in-btn" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
</section>

{% endblock %}
