{% extends 'base.html' %} {% block content %}
<div class="hidden-div">
    <input class="hidden-div recipe-id" type="text" id="recipe-id" name="recipe-id" value="{{ this_recipe._id }}">
</div>
<section class="view-recipe-section">
    <div class="container">
        <div class="image-container center-text">
            {% if this_recipe.recipe_image_url %}
            <img class="recipe-img view-recipe-img" src="{{ this_recipe.recipe_image_url }}"></img>
            {% else %}
            <img class="recipe-img view-recipe-img" src="{{ url_for('static', filename='images/food-default.jpg') }}"></img>
            {% endif %}
        </div>
        <h1 class="section-title">{{ this_recipe.recipe_name }}</h1>
    </div>
    <div class="recipe-details-section container">
        <div class="recipe-details-container">
            <div class="row">
                <img src="{{ author.user_photo }}"></img>
                <div class="data">
                    <div class="data1">
                        <h2>Posted by</h2>
                        {% if author.first_name == "TBC" %}
                        <p>{{ author.email }}</p>
                        {% else %}
                        <p>{{ author.first_name }} {{ author.surname }}</p>
                        {% endif %}
                    </div>
                    <div class="data2">
                        <h2>Cusine Category</h2>
                        <p>{{ this_recipe.cusine }}</p>
                    </div>
                    <div class="data2">
                        <h2 class="recipe-score">User rating: </h2>
                        <p>Unrated</p>
                    </div>
                </div>
            </div>
            <hr>
            <div class="please-wait-container">
                <p class="please-wait-message">Please wait...</p> 
                <i class="fas fa-circle-notch rotate"></i>
            </div>
            <div class="row instructions-and-ingredients">
                <div class="instructions-row">
                    <div class="recipe-instructions">
                        <h2>Recipe Instructions</h2>
                        <table class="instructions-list-table">
                            <tr class="instructions-table-header">
                                <th>Step</th>
                                <th>Instructions</th>
                            </tr>
                        </table>
                    </div>
                </div><!--
             --><div class="ingredients-row">
                    <div class="recipe-ingredients">
                        <h2>Ingredients</h2>
                        <table class="ingredients-list-table">
                            <tr class="ingredients-table-header">
                                <th>Ingredient</th>
                                <th>Quantity</th>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <hr> 
            <div class="row">
                <a href="{{ url_for( 'recipes', username=username) }} " class="go-back-btn div-btn center-text center-div ">
                    <span>Go back</span>
                </a>
            </div>
            <hr>
        </div>
    </div>
</section>
<section class="reviews-section container">
    <div class="row reviews-section-row">
        <!--To add a review, the user must be logged in, this must not be the users own recipe and the user must not have already reviewed the recipe-->
        <h2 class="review-heading">Reviews</h2>
        {% if username != "guest" and author.email != username and already_reviewed != "Yes" %}
        <p>Have you tried this recipe?  Provide a review and let the World know your thoughts!</p> 
        <div class="row user-new-review">
            <form action="{{ url_for('add_review', recipe_id = this_recipe._id, reviewing_user = username ) }}" method="POST">
                <input class="review-comments" type="text" id="review-comments" name="review-comments" placeholder="Please feel free to add a review of this recipe here!" maxlength="200" required>
                <input class="review-score" type="number" id="review-score" name="review-score" placeholder="Score" min="0" max="5" required>
                <button type="submit">Add Review</button>
            </form>
        </div>
        {% endif %}
        <table class="reviews-table">
            <tr class=reviews-table-header>
                <th>User Comments</th> 
                <th>User Score</th> 
                <th class="hide-on-mobile">User email</th> 
            </tr> 
        </table>
    </div> 
</section>
{% endblock %}
